---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BlogPost from '../../../components/Blog/BlogPost.astro';
import { slugify } from '../../../components/js/utils.js';
import HeroImage from '../../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../../images/blog_mobil.jpg';
import desktopImage from '../../../images/blog_desktop.jpg';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../../../content/blog/*.md');
    const uniqueAuthors = [...new Set(allPosts.map((post) => post.frontmatter.author))];

    return uniqueAuthors.map((author) => {
        const filteredPosts = allPosts
            .filter((post) => post.frontmatter.author === author)
            .map((post) => ({
                ...post,
                slug: `/blog/${slugify(post.frontmatter.title)}`,
            }));
        return {
            params: { author: slugify(author) },
            props: { posts: filteredPosts, author: author },
        };
    });
}

// const { author } = Astro.params;
const { author } = Astro.props;
const { posts } = Astro.props;

const metadata = {
    title: `BLOG SZERZŐK`,
    description: 'Ezen az oldalon találod a Bandha Works Astanga Jógaiskola blogbejegyzéseit szerző szerint.',
};
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />

    <div class="container container--tight-desktop">
        <div class="row mt-40px mb-40px">
            <h3 class="mb-20px clr-brand-orange">Bejegyzések ettől a szerzőtől: {author}</h3>
            <div class="row unordered-list-style">
                <ul>
                    {posts.map((post) => <BlogPost url={post.slug} title={post.frontmatter.title} slug={post.slug} />)}
                </ul>
            </div>
        </div>
    </div>
</BaseLayout>
