---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/gallery_mobil.jpeg';
import desktopImage from '../../images/gallery_desktop.jpeg';
import { galleries } from './config';
import { slugify } from '../../components/ts/utils';
import '../../components/LightGallery/_lightGalleryComplete.scss';

const metadata = {
    title: 'GALÉRIA',
    description: 'Ezen az oldalon megtalálod a Bandha Works jógastúdió képgalériáit.',
};
---

<BaseLayout {...metadata} title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={metadata.title} pageName={metadata.title} />

    <div class="container">
        <div class="gallery-card-wrapper mt-40px mb-40px">
            {
                galleries.map((gallery) => {
                    const slug = slugify(gallery.titleEn);
                    return (
                        <a href={`/gallery/${slug}`} class="gallery-card-link">
                            <div class="gallery-card">
                                <h4>{gallery.titleEn}</h4>
                                <span class="clr-brand-orange"> {gallery.year}</span>
                            </div>
                        </a>
                    );
                })
            }
        </div>
    </div>
</BaseLayout>

<style lang="scss">
    @use '/src/sass/base/_colors' as colors;

    .gallery-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .gallery-card-link {
        display: inline-block;
        margin-right: 8px;
    }

    .gallery-card {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 4px;
        background-color: colors.$color-shades-darkGray;
        padding: 12px 12px;
        white-space: nowrap;

        span {
            font-weight: 800;
        }

        h4 {
            margin: 0;
        }
    }
</style>
