---
import { getCollection } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import teachersData from '../../data/teachers.json';

const { eventType = [], maxEvents = Infinity } = Astro.props;

const events = await getCollection('events');

const images = await import.meta.glob<{ default: ImageMetadata }>('/src/images/uploads/**/*.{jpeg,jpg,png,gif}');

// Dátum formázó függvény a magyar formátumhoz, pontok nélkül
function formatDate(date: string | Date): string {
    const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'short', day: 'numeric' };
    const formattedDate = new Intl.DateTimeFormat('hu-HU', options).format(new Date(date)).toUpperCase();
    return formattedDate.replace(/\./g, ''); // Pontok eltávolítása
}

// Szűrés és rendezés az eventTypes és maxEvents alapján
const upcomingEvents = events
    .filter((event) => event.data.published) // Csak a publikált eseményeket jelenítjük meg
    .filter((event) => new Date(event.data.date) >= new Date()) // Múltbéli események kiszűrése
    .filter((event) => eventType.length === 0 || eventType.includes(event.data.eventType)) // Szűrés az eventTypes alapján
    .sort((a, b) => new Date(a.data.date).getTime() - new Date(b.data.date).getTime()) // Rendezés dátum szerint
    .slice(0, maxEvents); // Csak a megadott számú eseményt jelenítjük meg

// Tanárok adatainak feltérképezése teacherId alapján
type Teacher = {
    teacherId: string;
    teacherName: string;
    teacherLink: string;
    teacherImage?: string;
};

const teacherMap = new Map<string, Teacher>(
    teachersData.teachers.map((teacher: Teacher) => [teacher.teacherId, teacher])
);
---

<div class="mt-40px">
    {
        upcomingEvents.map(
            (event: {
                id: string;
                collection: string;
                data: {
                    published?: boolean;
                    title?: string;
                    titleEnglish?: string;
                    date?: Date;
                    teacher?: string;
                    featured?: boolean;
                    eventTypes?: string;
                    eventid?: string;
                    eventimage?: string;
                    shortdescription?: string;
                    shortdescriptionEnglish?: string;
                    eventlink?: string;
                    eventlinkEnglish?: string;
                };
            }) => (
                <>
                    <div class="row gap-1">
                        <div class="col-6-xs">
                            <div>
                                {event.data.eventimage && (
                                    <Image src={images[`/${event.data.eventimage}`]()} alt={event.data.title} />
                                )}
                            </div>
                        </div>
                        <div class="col-6-xs">
                            <p>{formatDate(event.data.date)}</p>
                            <h3 class="text-uppercase">{event.data.title}</h3>
                            <p>
                                {event.data.teacher && teacherMap.has(event.data.teacher) ? (
                                    <a href={teacherMap.get(event.data.teacher)?.teacherLink}>
                                        <p class="text-uppercase">{teacherMap.get(event.data.teacher)?.teacherName}</p>
                                    </a>
                                ) : (
                                    <p />
                                )}
                            </p>
                            <a
                                href={event.data.eventlink}
                                class="clr-brand-orange mt-20px"
                                aria-label="Tudj meg többet rólunk gomb"
                            >
                                <p>
                                    <strong>Részletek</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="row mb-40px">
                        <a
                            href={event.data.eventlink}
                            class="btn btn--full-width-mobile btn--primary--outline mt-20px"
                            aria-label="Tudj meg többet rólunk gomb"
                        >
                            Jelentkezés
                        </a>
                    </div>
                </>
            )
        )
    }
</div>

<style>
    img {
        width: 100%;
    }
</style>
