---
// Astro komponens importálása
import Pagination from '../../components/Blog/Pagination.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/Blog/PostCard.astro';
import TagList from '../../components/Blog/TagList.astro';
import PopularPosts from '../../components/Blog/PopularPosts.astro';
import { type CollectionEntry } from 'astro:content';
import { slugify, calculateReadingTime } from '../../components/js/utils.js';
import { getCollection } from 'astro:content';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/blog_mobil.jpg';
import desktopImage from '../../images/blog_desktop.jpg';
import './_blogPages.scss';

// Statikus oldalak generálása paginálva
export async function getStaticPaths({ paginate }) {
    const allPosts = await getCollection('blog');

    // Bejegyzések rendezése dátum szerint (legújabb elöl)
    const sortedPosts = allPosts
        .map((post) => ({
            ...post,
            slug: slugify(post.data.title),
            minutesRead: calculateReadingTime(post.body),
        }))
        .sort((a, b) => {
            // Dátumok összehasonlítása (újabb dátum kerül előre)
            return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
        });

    return paginate(sortedPosts, { pageSize: 5 });
}

const currentLanguage = Astro.currentLocale === 'en' ? 'English' : 'Hungarian';
const { page } = Astro.props;
console.log(page);

const pageTitle = `BLOG`;
const pageData = page.data.filter((post) => post.data.language === currentLanguage);
---

<BaseLayout title={pageTitle} image={desktopImage}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container blog__container mt-40px">
        <div class="blog__tags--mobile hidden-desktop">
            <h4 class="blog__tags-title">CIMKÉK</h4>
            <TagList />
            <div class="blog__separator-horizontal"></div>
        </div>
        <div class="blog__content">
            <div class="blog__main">
                <ul class="blog__post-list">
                    {
                        pageData.map((post) => (
                            <li class="blog__post-wrapper">
                                <PostCard frontmatter={post.data} slug={post.slug} minutesRead={post.minutesRead} />
                            </li>
                        ))
                    }
                </ul>
                <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
            </div>

            <div class="blog__sidebar hidden-mobile">
                <h4 class="blog__tags-title">CIMKÉK</h4>
                <TagList />
                <div class="blog__popular-posts">
                    <h4 class="blog__popular-title">LEGKEDVELTEBB BEJEGZÉSEK</h4>
                    <PopularPosts />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
