---
import Pagination from '../../components/Blog/Pagination.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/Blog/PostCard.astro';
import TagList from '../../components/Blog/TagList.astro';
import { type CollectionEntry } from 'astro:content';
import { slugify, calculateReadingTime } from '../../components/js/utils.js';
import { getCollection } from 'astro:content';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/blog_mobil.jpg';
import desktopImage from '../../images/blog_desktop.jpg';

export async function getStaticPaths({ paginate }) {
    const allPosts = await getCollection('blog');
    const postsWithSlugsAndReadingTime = allPosts.map((post) => ({
        ...post,
        slug: slugify(post.data.title), // Alkalmazd a slugify függvényt
        minutesRead: calculateReadingTime(post.body), // Számold ki a bejegyzés olvasási idejét
    }));
    return paginate(postsWithSlugsAndReadingTime, { pageSize: 3 }); // Lapozd a postokat a slugokkal együtt
}

type Props = {
    post: CollectionEntry<'blog'>;
    page: any; // Add the 'page' property to the Props interface
};

const currentLanguage = Astro.currentLocale === 'en' ? 'English' : 'Hungarian';

const { page } = Astro.props;
const pageTitle = `Blog`;
const pageData = page.data.filter((post) => post.data.language === currentLanguage);
// console.log(page.url);
// console.log('pageData', pageData);
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="mt-40px">
            <h4 class="mb-20px">CIMKÉK</h4>
            <TagList />
            <div class="separator-horizontal-full mt-40px"></div>
        </div>
    </div>

    <br />
    <ul>
        {
            pageData.map((post) => (
                <>
                    <PostCard frontmatter={post.data} slug={post.slug} minutesRead={post.minutesRead} />
                    <br />
                </>
            ))
        }
    </ul>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</BaseLayout>
