---
import Pagination from '../../components/Blog/Pagination.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/Blog/PostCard.astro';
import TagList from '../../components/Blog/TagList.astro';
import PopularPosts from '../../components/Blog/PopularPosts.astro';
import { type CollectionEntry } from 'astro:content';
import { slugify, calculateReadingTime } from '../../components/js/utils.js';
import { getCollection } from 'astro:content';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/blog_mobil.jpg';
import desktopImage from '../../images/blog_desktop.jpg';

export async function getStaticPaths({ paginate }) {
    const allPosts = await getCollection('blog');
    const postsWithSlugsAndReadingTime = allPosts.map((post) => ({
        ...post,
        slug: slugify(post.data.title), // Alkalmazd a slugify függvényt
        minutesRead: calculateReadingTime(post.body), // Számold ki a bejegyzés olvasási idejét
    }));
    return paginate(postsWithSlugsAndReadingTime, { pageSize: 5 }); // Lapozd a postokat a slugokkal együtt
}

type Props = {
    post: CollectionEntry<'blog'>;
    page: any; // Add the 'page' property to the Props interface
};

const currentLanguage = Astro.currentLocale === 'en' ? 'English' : 'Hungarian';

const { page } = Astro.props;
const pageTitle = `BLOG`;
const pageData = page.data.filter((post) => post.data.language === currentLanguage);
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container mt-40px">
        <div class="mb-40px hidden-desktop">
            <h4 class="mb-20px">CIMKÉK</h4>
            <TagList />
            <div class="separator-horizontal-full mt-40px"></div>
        </div>
        <div class="blog-content">
            <div class="blog-main">
                <ul>
                    {
                        pageData.map((post) => (
                            <div class="post-wrapper">
                                <PostCard frontmatter={post.data} slug={post.slug} minutesRead={post.minutesRead} />
                            </div>
                        ))
                    }
                </ul>
                <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
            </div>

            <!-- Blog Sidebar - csak desktopon látható, a meglévő .hidden-mobile osztállyal rejtjük mobilon -->
            <div class="blog-sidebar hidden-mobile">
                <h4 class="mb-20px">CIMKÉK</h4>
                <TagList />
                <div class="sidebar-widget mt-40px">
                    <h4 class="mb-20px">LEGKEDVELTEBB BEJEGZÉSEK</h4>
                    <PopularPosts />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<style lang="scss">
    @import '/src/sass/global';
    .container {
        display: flex;
        flex-direction: column;
    }

    .blog-content {
        display: flex;
        flex-direction: column;
    }

    .blog-main {
        flex: 1;
    }
    .blog-sidebar {
        flex: 0 0 250px; /* Oldalsáv szélessége */
        margin-left: 20px;
    }

    /* Csak desktop nézetben rendezze el sorba */
    @media (min-width: 768px) {
        .blog-content {
            flex-direction: row;
        }
    }

    .post-wrapper:not(:last-child) {
        border-bottom: 1px solid $color-shades-lightBlack; /* Alsó fehér vonal */
        padding-bottom: 10px; /* Távolság a szövegtől */
        margin-bottom: 10px; /* Távolság a következő elemtől */
    }
</style>
