---
import MP3Player from '../MP3Player';
import './_accordion.scss';
const { mantras, lang } = Astro.props;

// Nyelvi beállítások
const translations = {
    EN: {
        chantedBy: 'Chanted by:',
        sanskrit: 'Sanskrit',
        translation: 'Translation',
        comment: 'Comment',
        noMantras: 'No mantras loaded',
    },
    HU: {
        chantedBy: 'Előadja: ',
        sanskrit: 'Szanszkrit',
        translation: 'Fordítás',
        comment: 'Megjegyzés',
        noMantras: 'Nincsenek mantrák betöltve',
    },
};

// Aktuális nyelv kiválasztása, alapértelmezett az angol
const t = translations[lang] || translations.EN;
---

{
    mantras && mantras.length > 0 ? (
        mantras.map((mantra, index) => (
            <div class="accordion__section">
                <button class="accordion" data-accordion-toggle={`mantra-${index}`}>
                    <div class="accordion-chevron">
                        <div class="accordion__title-container">
                            <h3>{mantra.name}</h3>
                        </div>
                        <div class="accordion__svg-container">
                            <svg
                                class="accordion__icon"
                                data-accordion-icon={`mantra-${index}`}
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="hsl(0, 0%, 100%)"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M10.5 10V2H13.5V10H22V13H13.5V22H10.5V13H2V10H10.5Z" fill="orange" />
                            </svg>
                        </div>
                    </div>
                </button>
                <div data-accordion-content={`mantra-${index}`} class="accordion__content">
                    {mantra.link && (
                        <div class="mantra-audio">
                            <MP3Player url={mantra.link} language={lang} client:only="react" />
                            {mantra.chantby && (
                                <p class="mantra-chantby">
                                    {t.chantedBy} {mantra.chantby}
                                </p>
                            )}
                        </div>
                    )}
                    <div class="accordion__text mt-20px mb-20px">
                        <div class="mantra-section">
                            <h4 class="clr-brand-orange mb-20px">{t.sanskrit}</h4>
                            <div class="mantra-sanskrit" set:html={mantra.sanskrit} />
                        </div>
                        <div class="mantra-section mt-40px">
                            <h4 class="clr-brand-orange mb-20px">{t.translation}</h4>
                            <div class="mantra-translation" set:html={mantra.translation} />
                        </div>
                        {mantra.comment && (
                            <div class="mantra-section">
                                <h4>{t.comment}</h4>
                                <p>{mantra.comment}</p>
                            </div>
                        )}
                    </div>
                </div>
            </div>
        ))
    ) : (
        <p>{t.noMantras}</p>
    )
}

<script>
    import { initAccordion } from '../js/accordionLogic.js';
    initAccordion();
</script>
