---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/astanga-kezdo-tanfolyam-mobil.jpg';
import desktopImage from '../../images/astanga-kezdo-tanfolyam-desktop.jpeg';
import { Image } from 'astro:assets';
import AktMobilImage from '../../images/pascsimottanaszana.jpg';
import AktDesktopImage from '../../images/akt_tri.jpg';
import AktBandhamiImage from '../../images/bandhami.jpeg';
import AccordionFaq from '../../components/Accordions/AccordionFaq.astro';
import aktFaqData from '../../data/aktFaq.json';
import CourseList from '../../components/Courses/CourseList.astro';
import '../../sass/pages/_astangaKezdoTanfolyam.scss';

const metadata = {
    title: 'ASHTANGA BEGINNER COURSE',
    description: 'On this page you will find information that helps with your first encounter with Ashtanga yoga.',
};

const tematikaBal = [
    {
        text: 'Introduction to the origin and theoretical background of Ashtanga yoga',
    },
    {
        textBefore: 'Mastering the correct ',
        link: {
            url: '/blog/a-legzes-legtokeletesebb-modja-az-astanga-jogaban/',
            text: 'breathing technique',
        },
        textAfter: ', cleansing practices',
    },
    {
        text: 'Theory and practice of the vinyasa system',
    },
    {
        textBefore: 'The ',
        link: {
            url: '/blog/astanga-triszthana/',
            text: 'tristhana,',
        },
        textAfter: ' the three focuses of practice',
    },
    {
        text: 'The bandhas, or deeper energetic layers of asanas',
    },
];

const tematikaJobb = [
    {
        text: 'The asanas of the first series of Ashtanga Vinyasa yoga, up to Purvottanasana, with precise vinyasa counting and their corresponding dristis. Where necessary, the instructor suggests personalized modifications for effective and safe practice.',
    },
    {
        text: 'Building a long-term practice: led classes and Mysore-style classes, as well as home practice',
    },
];

const hasznosOlvasmanyok = [
    {
        link: '/blog/david-garrigues-gyenge-testben-erotlen-lelek',
        title: 'Weak body, feeble soul',
        classNames: 'body link-decoration-remove',
    },

    {
        link: '/blog/astanga-joga-segit-a-noknek-hogy-erosebbek-legyenek',
        title: 'Ashtanga yoga: "Helps women become stronger"',
        classNames: 'body link-decoration-remove',
    },

    {
        link: '/blog/5-dolog-amit-az-uj-gyakorloknak-erdemes-megtanulnia',
        title: '5 things new practitioners should learn',
        classNames: 'body link-decoration-remove',
    },
    {
        link: '/blog/sharath-jois-arrol-hogy-miben-nyujt-tobbet-egy-helyi-shala-mint-egy-hagyomanyos-edzes',
        title: 'Sharath Jois on How a Local Shala Offers More Than a Regular Workout',
        classNames: 'body link-decoration-remove',
    },
];

const enAktFaqs = aktFaqData.EN;
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <p class="clr-brand-orange mt-40px mb-20px">
            <strong>Please note:</strong> Our courses are held in Hungarian only. We do not recommend these classes for non-Hungarian
            speakers. If you're interested in English-language instruction, please inquire about private lessons via message.
        </p>
        <h3 class="clr-brand-orange mb-20px">
            <strong>
                The practice of Ashtanga yoga is an effective and personalized method that brings physical strength,
                flexibility, and inner peace. The continuous progress it offers, together with the teacher-student
                relationship, provides an opportunity for deeper understanding and personal growth.
            </strong>
        </h3>
        <p class="mb-20px">
            The Sanskrit word "Ashtanga" means "eight limbs," referring to Patanjali's eightfold system of yoga.
            Patanjali Maharishi was a great Indian sage, who most likely lived in the 2nd century BCE, and composed
            concise aphorisms outlining an eight-step method for effective physical and spiritual development.
        </p>
        <h3 class="clr-brand-orange font-family-primary mb-20px">Asanas: The Foundation of Ashtanga Yoga</h3>
        <p class="mb-20px">
            The practice of <a href="/vinyasza-jogairanyzatok" class="link-enhanced link-orange">Ashtanga Yoga</a>
            should begin with the study of the asanas. Through the regular practice of these special postures, the body becomes
            strong and flexible, and the mind calm and balanced—providing the foundation for progressing further in the Ashtanga
            yoga system.
        </p>
        <Image src={AktMobilImage} alt="Ashtanga beginner course Budapest" class="image--visible-mobil mb-20px" />
        <Image src={AktDesktopImage} alt="Beginner Ashtanga Yoga in Buda" class="image--visible-desktop mb-20px" />
        <h3 class="clr-brand-orange font-family-primary mb-20px">Introduction to Ashtanga Yoga</h3>
        <p class="mb-20px">
            In the beginner Ashtanga course, participants are introduced to the origins and theoretical background of
            the system. They gain insight into the process of starting the practice, which in this tradition begins with
            the asanas, practiced within the vinyasa system. In the beginner course, the main focus (about 90%) is on
            learning the correct and safe execution of the asanas and the related techniques (such as audible breathing
            and bandhas).
        </p>
        <h3 class="clr-brand-orange font-family-primary mb-20px">
            What You’ll Learn in the Eight-Session Beginner Course
        </h3>
        <div class="tanfolyam-tematika-lista mb-20px">
            <div class="tanfolyam-tematika-oszlop unordered-list-style">
                <ul>
                    {
                        tematikaBal.map((item) => (
                            <li>
                                <p>
                                    {item.text ? (
                                        item.text
                                    ) : (
                                        <>
                                            {item.textBefore}
                                            <a href={item.link.url} class="link-enhanced link-orange">
                                                {item.link.text}
                                            </a>
                                            {item.textAfter}
                                        </>
                                    )}
                                </p>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="tanfolyam-tematika-oszlop tematika__second-column unordered-list-style">
                <ul>
                    {
                        tematikaJobb.map((item) => (
                            <li>
                                <p>{item.text}</p>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <h3 class="clr-brand-orange font-family-primary mb-20px">Deepening and Personalizing the Practice</h3>
        <p class="mb-20px">
            The continuation of the beginner course is the
            <a href="/astanga-mysore-kurzus/" class="link-enhanced link-orange">Ashtanga Mysore course.</a> In this program,
            participants learn to practice safely in the Mysore style—individually, without external guidance. Everyone’s
            practice is personalized, which results in the most effective pace of progress. After this, practitioners are
            no longer tied to a specific place or time; they can “take” the practice with them and do it anytime, anywhere.
        </p>
        <h3 class="clr-brand-orange font-family-primary mb-20px">Frequently Asked Questions</h3>
        <div class="page-content__section page-content__section--faq mb-40px">
            {enAktFaqs.map((faq) => <AccordionFaq id={`accordion-akt-${faq.id}`} faqs={[faq]} />)}
        </div>
        <h3 class="clr-brand-orange font-family-primary mb-20px">Upcoming Course Dates</h3>
        <CourseList language="EN" courseType="Ashtanga beginner" />
        <Image src={AktBandhamiImage} alt="Astanga közösség 4eBudapest" class="mb-20px" />
        <h3 class="clr-brand-orange font-family-primary mb-20px">Recommended Readings on Ashtanga Practice</h3>
        <div class="unordered-list-style mb-40px">
            <ul>
                {
                    hasznosOlvasmanyok.map((link) => (
                        <li>
                            <p>
                                <a href={link.link} class={link.classNames}>
                                    {link.title}
                                </a>
                            </p>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>
