---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/letoltesek_mobil.jpg';
import desktopImage from '../../images/letoltesek_desktop.jpg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pageTitle = t('letoltesek');
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Content will come here</h1></div>
    </div>
</BaseLayout>

<style></style>
