---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/mantra_mobil.jpg';
import desktopImage from '../../images/mantra_desktop.jpg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pageTitle = t('mantra');
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Content will be coming here very soon</h1></div>
    </div>
</BaseLayout>
