---
import { Image } from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/rolunk_mobil.jpeg';
import desktopImage from '../../images/rolunk_desktop.jpeg';
import fireCeremony from '../../images/fire_ceremony.jpeg';
import NameCard from '../../components/NameCard.astro';
import '../../sass/pages/_rolunk.scss';

const pageTitle = 'About';

const guestTeachers = [
    [
        { name: 'Harmony Slater', country: 'CDN' },
        { name: 'Lucia Andrade', country: 'BRA' },
        { name: 'David Robson', country: 'CDN' },
        { name: 'Russel Case', country: 'USA' },
    ],
    [
        { name: 'Lakshmisha Bhat', country: 'IND' },
        { name: 'Laruga Glaser', country: 'USA' },
        { name: 'Santina Giardina-Chard', country: 'AUS' },
        { name: 'Govinda Kai', country: 'USA' },
    ],
    [
        { name: 'R. Saraswathi Jois', country: 'IND' },
        { name: 'Andréa Drottholm', country: 'S' },
        { name: 'Sharmila Mahesh', country: 'IND' },
        { name: 'Dr. Norman Sjoman', country: 'CDN' },
    ],
    [{ name: 'Dr. Vairagya Ranko', country: 'SRB' }],
];
---

<BaseLayout title={pageTitle}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={pageTitle}
        pageName={pageTitle}
        containerClass="container--tight-desktop"
    />
    <div class="container">
        <div class="row container--tight-desktop mt-40px">
            <h3 class="font-family-primary clr-brand-orange">
                The Bandha Works Yoga School was founded in 2013 by three engineers who were united by their desire to
                promote and teach traditional ashtanga vinyasa yoga in Hungary.
            </h3>
            <p class="mt-20px mb-20px">
                After more than ten years, the situation has not changed, our teachers are dedicated practitioners of
                the tradition and regularly travel to the capital of ashtanga yoga, Mysore, South India, to further
                deepen their knowledge and understanding by drawing from the <strong>parampara</strong> (lineage).
            </p>

            <div class="island-section text-center rolunk-parampara">
                <h3 class="mb-20px clr-brand-orange font-family-primary">
                    <strong>PARAMPARA</strong>
                </h3>
                <p>
                    Parampara is the knowledge that the teacher passes on to the student. The Sanskrit word parampara
                    expresses the most valuable form of knowledge transmission, the transmission of direct and
                    experiential knowledge. This is the basis of all teaching lineage: in the lineage of preservation of
                    thousands of years of teaching, the teacher and his student are the links.
                </p>
                <div>
                    <div class="center-button">
                        <a href="/en/parampara" class="btn btn--full-width-mobile btn--third--naked-orange mt-20px">
                            More about parampara
                        </a>
                    </div>
                </div>
            </div>
            <h3 class="clr-brand-orange font-family-primary mt-20px mb-20px">Traditional ashtanga yoga</h3>
            <p class="mb-20px">
                In the yoga school we teach traditional <a
                    href="/en/vinyasza-jogairanyzatok"
                    class="link-enhanced link-orange"
                >
                    ashtanga vinyasa yoga
                </a>and <a href="/en/vinyasza-jogairanyzatok" class="link-enhanced link-orange">vinyasa krama yoga</a>.
                The specialty of Bandha Works is the <a
                    href="/en/astanga-mysore-program"
                    class="link-enhanced link-orange"
                >
                    morning ashtanga Mysore program
                </a> the original and most effective form of teaching ashtanga yoga. In our program, we regularly host internationally
                renowned ashtanga yoga teachers from abroad, who further enhance the quality of teaching in our institution.
            </p>
            <p class="mb-20px">
                And for those who are just starting to learn about this style, we regularly run <a
                    href="/en/astanga-kezdo-tanfolyam"
                    class="link-enhanced link-orange"
                >
                    ashtanga beginners' courses
                </a>
                and <a href="/en/astanga-mysore-kurzus" class="link-enhanced link-orange">Mysore courses</a>.
            </p>
            <p class="mb-20px">
                In addition to teaching asanas, we also place great emphasis on introducing yogic philosophy and a yogic
                lifestyle. Monthly free ashtanga conferences are held to discuss yoga theory and conscious living in an
                informal way. It's an opportunity for everyone to ask questions and for fellow practitioners to get to
                know each other better.
            </p>
        </div>
        <div class="separator-horizontal-full mt-20px mb-20px"></div>
        <div class="row container--tight-desktop">
            <h3 class="clr-brand-orange font-family-primary mt-20px mb-20px">Our first decade</h3>
            <p class="mb-20px">
                We have had the great privilege of hosting many internationally renowned ashtanga yoga teachers over the
                years:
            </p>
        </div>
        <div class="row container--tight-desktop">
            <div class="guest-teachers-container-mobil">
                <div class="guest-teachers-mobil">
                    {guestTeachers[0].map((person, index) => <NameCard name={person.name} country={person.country} />)}
                </div>
                <div class="guest-teachers-mobil">
                    {guestTeachers[1].map((person, index) => <NameCard name={person.name} country={person.country} />)}
                </div>
                <div class="guest-teachers-mobil">
                    {guestTeachers[2].map((person, index) => <NameCard name={person.name} country={person.country} />)}
                </div>
                <div class="guest-teachers-mobil">
                    {guestTeachers[3].map((person, index) => <NameCard name={person.name} country={person.country} />)}
                </div>
            </div>
            <div class="guest-teachers-container-desktop">
                <div class="guest-teachers-desktop">
                    {
                        guestTeachers
                            .flat()
                            .map((person, index) => <NameCard name={person.name} country={person.country} />)
                    }
                </div>
            </div>
        </div>
        <div class="separator-horizontal mt-40px"></div>
        <div class="row container--tight-desktop">
            <h3 class="clr-brand-orange font-family-primary mt-20px mb-20px">18 April 2018.</h3>
            <p class="mb-20px">
                At the dedication of our new yoga school, we were blessed to have the <strong>Jois family</strong>, <strong
                    class="clr-brand-orange"
                >
                    R. Saraswathi Jois
                </strong> in attendance.
            </p>
            <Image
                src={fireCeremony}
                alt="Fire Ceremony in Bandha Works"
                class="container fire-ceremony-image"
                loading="lazy"
            />
            <h3 class="clr-brand-orange font-family-primary mt-20px mb-20px">Our publications</h3>
            <p class="mb-20px">
                In 2019 and 2020, we had the great honour to publish <a
                    href="https://shop.bandha.works/collections/konyvek"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link-enhanced link-orange"
                >
                    two works
                </a> by Paramaguru R. Sharath Jois in Hungarian, under the auspices of our foundation, the <a
                    href="https://nyolcag.hu"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link-enhanced link-orange"
                >
                    Eight Limbs Yoga Foundation.
                </a>
                In addition, the Hungarian edition of Eddie Stern's bestselling <a
                    href="https://shop.bandha.works/products/eddie-stern-egy-egyszeru-modszer"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link-enhanced link-orange"
                >
                    ashtanga book
                </a> - published in April 2022 - is also due to our foundation. <br />
                <br /> Our most recent publication is the Hungarian translation of Swami Prabhavananda and Christopher Isherwood's
                <a
                    href="https://shop.bandha.works/products/isten-megismerese-patandzsali-jogaaforizmai"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link-enhanced link-orange"
                >
                    How to Know God: The Yoga Aphorisms of Patanjali
                </a>(December 2023).
            </p>
        </div>
    </div>
</BaseLayout>
