---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../images/message-sent_mobil.jpeg';
import desktopImage from '../../images/message-sent_desktop.jpeg';

const metadata = {
    title: 'MESSAGE SENT',
    description: 'This page confirms the successful delivery of your message.',
};
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage} noindex={true}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="mt-40px">
            <div class="row">
                <div class="col">
                    <h3 class="mb-20px">Thank you for contacting us!</h3>
                    <p class="mt-20px">Your message has been successfully received!</p>
                    <!-- <p class="mt-20px">
                        Your message has been successfully received, and we will soon send you an automated confirmation
                        email. If you can’t find the email in your inbox, please check your spam folder. If it’s not
                        there either, it’s possible that the email address was entered incorrectly. Please try again!
                    </p> -->
                    <p class="mt-20px">
                        Our team will process your message during the next business days (usually within 24–48 hours)
                        and respond to you.
                    </p>
                </div>
            </div>
            <div class="separator-horizontal mt-20px"></div>
            <div class="col">
                <h3 class="clr-brand-orange">Where is our email address?</h3>
                <p class="mt-20px">
                    On our website, security and data protection are top priorities. To avoid unwanted spam messages and
                    phishing attempts, we have decided not to publish our email address.
                </p>
                <p class="mt-20px">
                    This practice is considered an industry standard in today’s digital world, aiming to create the
                    safest possible environment for our users.
                </p>
                <p class="mt-20px">
                    If you still encounter difficulties reaching us through the website, please send us a message on
                    Facebook (see the footer), or visit us in person! This is the traditional way of making contact in
                    the world of yoga. Thank you!
                </p>
            </div>
            <div class="mt-20px mb-40px">
                <a href="/en/" class="btn btn--width-full-mobile btn--primary--outline mt-20px" aria-label="Homepage">
                    Back to the Homepage
                </a>
            </div>
        </div>
    </div>
</BaseLayout>
