---
const { month, fullMoon, newMoon, thirdMoon, ekadashiNewMoon, ekadashiFullMoon } = Astro.props;

// Ékádasi dátumok rendezése
const sortedEkadashis = [ekadashiFullMoon, ekadashiNewMoon].sort((a, b) => parseInt(a) - parseInt(b));
---

<div class="holdnapok-card">
    <div class="holdnapok-card-content">
        <div class="holdnapok-card__header">
            <p>2024.</p>
            <p>{month}</p>
        </div>
        <div class="holdnapok-card__body">
            <div class="holdnapok-card__body__grid">
                <div class="holdnapok-card__body__grid__leftSide">
                    <h3 class="clr-brand-orange">ÚJ</h3>
                </div>
                <div>
                    <h3 class="clr-brand-orange">TELI</h3>
                </div>
                <div class="holdnapok-card__body__grid__leftSide">
                    <p>{fullMoon}</p>
                </div>
                <div>
                    <p>{newMoon}</p>
                </div>
                {
                    thirdMoon.length === 0 ? null : (
                        <div class="holdnapok-card__body__grid__leftSide">
                            <p>{thirdMoon}</p>
                        </div>
                    )
                }
            </div>
            <div class="separator-horizontal mt-20px"></div>
            <div class="holdnapok-card__body__ekadasi">
                <h3 class="clr-brand-orange holdnapok-card__body__grid__ekadasi">ÉKÁDASI</h3>
            </div>
            <div class="holdnapok-card__body__grid">
                <div class="holdnapok-card__body__grid__leftSide">
                    <p>{sortedEkadashis[0]}</p>
                </div>
                <div>
                    <p>{sortedEkadashis[1]}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<style lang="scss">
  @import "../../sass/components/_moondayscard.scss";
</style> -->
