---
import { useTranslations, useTranslatedPath } from '../../../i18n/index.ts';
import { getMenuItemsJogaorak, getMenuItemsTudnivalok, getMenuItemsFomenu } from '../data/menuData';
import Icons from '../../Icons/Icons.astro';
import './_desktopMenu.scss';

const language = Astro.url.pathname.includes('/en/') ? 'en' : 'hu';
const t = useTranslations(language);
const translatePath = useTranslatedPath(language);

const jogaorakItems = getMenuItemsJogaorak(translatePath, t);
const tudnivalokItems = getMenuItemsTudnivalok(translatePath, t);
const fomenuItems = getMenuItemsFomenu(translatePath, t);
---

<div id="desktopMenu" class="desktop-menu">
    <div class="desktop-menu__off-canvas-menu">
        <div class="desktop-menu__item" id="menu1">
            <div><h3 id="jogaorak-label-desktop" class="desktop-menu__label">{t('jogaorak')}</h3></div>
            <div id="jogaorak-desktop" class="desktop-menu__dropdown-menu-content">
                <ul>
                    {
                        jogaorakItems.map((item) => (
                            <li class="desktop-menu__dropdown-menu-item">
                                <h3>
                                    <a
                                        href={item.link}
                                        class={`desktop-menu__link${item.extraClass ? ` ${item.extraClass}` : ''}`}
                                    >
                                        <span class="desktop-menu__label-and-icon">
                                            {item.label}
                                            {item.extraClass === 'highlighted' && (
                                                <Icons name="ArrowLeft" color="orange" />
                                            )}
                                        </span>
                                    </a>
                                </h3>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <div class="desktop-menu__item" id="menu2">
            <div><h3 id="tudnivalok-label-desktop" class="desktop-menu__label">{t('tudnivalok')}</h3></div>
            <div id="tudnivalok-desktop" class="desktop-menu__dropdown-menu-content">
                <ul>
                    {
                        tudnivalokItems.map((item) => (
                            <li class="desktop-menu__dropdown-menu-item">
                                <h3>
                                    <a href={item.link} class="desktop-menu__link">
                                        {item.label}
                                    </a>
                                </h3>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <div class="desktop-menu__item" id="menu3">
            <div id="fomenuItems-desktop" class="desktop-menu__dropdown-menu-content">
                <ul>
                    {
                        fomenuItems.map((item) => (
                            <li class="desktop-menu__dropdown-menu-item">
                                <h3>
                                    <a href={item.link} class="desktop-menu__link">
                                        {item.label}
                                    </a>
                                    {item.badge && <span class="menu-badge">{item.badge}</span>}
                                </h3>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const desktopMenu = document.getElementById('desktopMenu');
    const hamburgerButton = document.getElementById('hamburgerButton');

    if (hamburgerButton && desktopMenu) {
        hamburgerButton.addEventListener('click', () => {
            desktopMenu.classList.toggle('open');
        });
    }
</script>
