---
import Carousel from '../Carousel/Carousel.astro';
import SocialProofCard from '../Carousel/SocialProofCard.astro';
import { useTranslations, getLangFromUrl } from '../../i18n/index.ts';
import SocialProofs from '../../data/socialProofs.json';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isEnglish = lang === 'en';
const proofs = isEnglish ? SocialProofs.english : SocialProofs.hungarian;
---

<section class="section-social-proof">
    <div>
        <h2 class="section-social-proof__title heading heading--1 text-center mb-20px">
            {t('sectionSocialProofsTitle')}
        </h2>
    </div>
    <Carousel>
        {
            proofs.map((proof) => (
                <div class="section-social-proof__slide embla__slide mt-20px">
                    {isEnglish ? (
                        <SocialProofCard name={proof.name} text={proof.text} country={proof.country} />
                    ) : (
                        <SocialProofCard name={proof.name} text={proof.text} />
                    )}
                </div>
            ))
        }
    </Carousel>
</section>
