---
import brand_logo from "../../images/svg/brand_logo.svg?raw";
import brand_logo_text from "../../images/svg/brand_logo_text.svg?raw";
import plus_sign from "../../images/svg/plus_sign.svg?raw";
import LanguagePicker from "../LanguagePicker.astro";
import "../../sass/components/_navbarTwo.scss";

const isEnglish = Astro.url.pathname.includes("/en");
const hrefValue = isEnglish ? "/en/" : "/";
---

<header>
    <div class="container-fluid">
        <nav>
            <a
                href={hrefValue}
                class="logo-link"
                aria-label="Ez itt a brandlogo. Ha rákattintasz elvisz a kezdőlapra."
            >
                <div class="brand-logo-wrapper">
                    <Fragment set:html={brand_logo} />
                    <Fragment set:html={brand_logo_text} />
                </div></a
            >

            <div class="hamburger--container">
                <LanguagePicker />
                <div id="hamburger" class="hamburger hamburger-closed">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </nav>
        <div class="container-fluid" id="menu">
            <div>
                <div class="dropdown-menu" id="toggle-jogaorak">
                    <h3>JÓGAÓRÁK</h3>
                    <Fragment set:html={plus_sign} />
                </div>
                <div id="jogaorak" class="menu-content"></div>
            </div>
            <div>
                <div class="dropdown-menu" id="toggle-tudnivalok">
                    <h3>TUDNIVALÓK</h3>
                    <Fragment set:html={plus_sign} />
                </div>
                <div id="tudnivalok" class="menu-content"></div>
            </div>
            <div id="fomenuItems"></div>
        </div>
        <script>
            function handleResize() {
                const mobileMenu = document.getElementById("menu");

                if (!mobileMenu) return;

                if (window.innerWidth >= 768) {
                    console.log("mobile");
                    mobileMenu.style.display = "none";
                    mobileMenu.classList.remove("show");
                }
            }
            window.addEventListener("load", (event) => {});

            window.addEventListener("load", handleResize);
            // window.addEventListener("resize", handleResize);
        </script>
        <script>
            import {
                useTranslations,
                useTranslatedPath,
            } from "../../i18n/utils.js";
            import {
                getMenuItemsJogaorak,
                getMenuItemsTudnivalok,
                getMenuItemsFomenu,
            } from "./menuData";

            const language = window.location.href.includes("en") ? "en" : "hu";

            const t = useTranslations(language);
            const translatePath = useTranslatedPath(language);
            const menuItemsJogaorak = getMenuItemsJogaorak(translatePath, t);
            const menuItemsTudnivalok = getMenuItemsTudnivalok(
                translatePath,
                t
            );
            const menuItemsFomenu = getMenuItemsFomenu(translatePath, t);

            const jogorakList = document.getElementById("jogaorak");
            const tudnivalokList = document.getElementById("tudnivalok");
            const menuList = document.getElementById("menu");
            const fomenuItems = document.getElementById("fomenuItems");

            const jogorakToggle = document.getElementById("toggle-jogaorak");
            const tudnivalokToggle =
                document.getElementById("toggle-tudnivalok");
            const hamburgerMenu = document.getElementById("hamburger");

            if (jogorakToggle) {
                jogorakToggle.addEventListener("click", () => {
                    if (jogorakList) {
                        jogorakList.classList.toggle("show");
                    }
                });
            }

            if (tudnivalokToggle) {
                tudnivalokToggle.addEventListener("click", () => {
                    if (tudnivalokList) {
                        tudnivalokList.classList.toggle("show");
                    }
                });
            }

            // Jógaórák menüelemek hozzáadása
            if (jogorakList) {
                menuItemsJogaorak.forEach((link) => {
                    const listItem = document.createElement("li");
                    const anchor = document.createElement("a");

                    anchor.href = link.link;
                    anchor.textContent = link.label;
                    listItem.appendChild(anchor);
                    jogorakList.appendChild(listItem);
                });
            }

            // Tudnivalók menüelemek hozzáadása
            if (tudnivalokList) {
                menuItemsTudnivalok.forEach((link) => {
                    const listItem = document.createElement("li");
                    const anchor = document.createElement("a");

                    anchor.href = link.link;
                    anchor.textContent = link.label;
                    listItem.appendChild(anchor);
                    tudnivalokList.appendChild(listItem);
                });
            }

            if (fomenuItems) {
                menuItemsFomenu.forEach((item) => {
                    const listItem = document.createElement("li");
                    const anchor = document.createElement("a");
                    const header = document.createElement("h3"); // H3 elem létrehozása

                    anchor.href = item.link;
                    anchor.textContent = item.label;

                    header.appendChild(anchor); // Az 'a' elem hozzáadása az 'h3' elemhez
                    listItem.appendChild(header); // Az 'h3' elem hozzáadása az 'li' elemhez
                    fomenuItems.appendChild(listItem);
                });
            }

            // Főmenü menüelemek hozzáadása

            if (hamburgerMenu) {
                hamburgerMenu.addEventListener("click", function () {
                    if (hamburgerMenu.classList.contains("hamburger-closed")) {
                        hamburgerMenu.classList.remove("hamburger-closed");
                        hamburgerMenu.classList.add("hamburger-open");
                    } else {
                        hamburgerMenu.classList.remove("hamburger-open");
                        hamburgerMenu.classList.add("hamburger-closed");
                    }
                    menuList?.classList.toggle("open");
                });
            }
        </script>
    </div>
</header>
