---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import AccordionBooks from '../components/Accordions/AccordionBooks.astro';
import mobileImage from '../images/olvasmanyok_mobil.jpeg';
import desktopImage from '../images/olvasmanyok_desktop.jpeg';
import recommendedReadings from '../data/recommendedReadings.json';

const metadata = {
    title: 'Ajánlott olvasmányok',
    description: 'A jóga gyakorlásához szükséges elméleti tudás elsajátításához az alábbi olvasmányokat ajánljuk.',
};

const huBooks = recommendedReadings.HU;
const enBooks = recommendedReadings.EN;
---

<BaseLayout {...metadata} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="row">
            <blockquote class="mt-40px">A jóga 99%-ban gyakorlat és 1%-ban elmélet</blockquote>
            <p class="mt-40px">
                K. Pattabhi Jois elhíresült mondása rámutat arra, hogy pusztán könyvek olvasásával nem lehetséges
                megérteni az astanga jóga esszenciáját. A jóga ezen ága egy tapasztalati út, amelyet a gyakorlás során
                kell megismerni. Ezt az utat támogathatja (1 %-ban) a szentírások – Patandzsali: Jóga szútrák, illetőleg
                elismert régi jógagyakorlók személyes tapasztalatából született művek tanulmányozása. A jóga
                gyakorlásához szükséges elméleti tudás elsajátításához az alábbi olvasmányokat ajánljuk.
            </p>
        </div>
        <div class="row mt-40px mb-20px">
            <AccordionBooks
                id="accordion1"
                className="accordion-title"
                title="Astanga vinyásza jóga"
                books={huBooks.olvasmanyokAstanga}
            />
            <AccordionBooks
                id="accordion2"
                className="accordion-title"
                title="Vinyásza krama jóga"
                books={huBooks.olvasmanyokKrama}
            />
            <AccordionBooks
                id="accordion3"
                className="accordion-title"
                title="Egyéb spirituális"
                books={huBooks.olvasmanyokSpiri}
            />
            <AccordionBooks
                id="accordion4"
                className="accordion-title"
                title="Táplálkozás, életvitel"
                books={huBooks.olvasmanyokFood}
            />
        </div>
        <div class="row">
            <p class="mt-20px mb-40px">A könyvek nem helyettesítik a szakképzett tanár útmutatását.</p>
        </div>
    </div>
</BaseLayout>
