---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/mysore_mobil.jpg';
import desktopImage from '../images/mysore_desktop.jpg';

const pageTitle = 'Astanga-Mysore program jelentkezési lap';
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
    </div>
</BaseLayout>

<style></style>
