---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/mysore_mobil.jpg';
import desktopImage from '../images/mysore_desktop.jpg';
import Button from '../components/Button.astro';

const pageTitle = 'Astanga-Mysore program';
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
    </div>
    <div class="row">
        <Button id="btn1" buttonStyle="btn--secondary--outline">Mysore</Button>
    </div>
</BaseLayout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btn1')?.addEventListener('click', () => {
            window.location.href = '/holdnapok';
        });
    });
</script>
