---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/astanga-kezdo-tanfolyam-mobil.jpg';
import desktopImage from '../images/astanga-kezdo-tanfolyam-desktop.jpeg';

const metadata = {
    title: 'ASTANGA KEZDŐ TANFOLYAM',
    description:
        'Ezen az oldalon találod azokat az információkat, amelyek segítenek az astanga jógával való első találkozás során.',
};
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="astanga-kezdo-tanfolyam tight--desktop--container">
            <div class="row mt-40px">
                <h3 class="clr-brand-orange mb-20px">
                    <strong>
                        Az astanga jóga gyakorlása hatékony és személyre szabott módszer, amely fizikai erőt,
                        rugalmasságot és belső nyugalmat hoz. Az általa kínált folyamatos fejlődés és az
                        oktató-tanítvány kapcsolat lehetőséget ad a mélyebb megértésre és a személyes előrehaladásra.
                    </strong>
                </h3>
                <p class="mb-20px">
                    Az astanga szanszkrit szó jelentése nyolc ág, Patandzsali nyolclépcsős jógarendszerére utal.
                    Patandzsali Maharishi feltehetőleg az i.e. 2. században élt nagy indiai bölcs volt, aki tömör
                    aforizmákban, nyolc lépcsőből álló módszert dolgozott ki a hatékony testi-lelki fejlődés érdekében.
                </p>
                <h3 class="clr-brand-orange font-family-primary mb-20px">Ászanák: Az astanga jóga alapjai</h3>
                <p class="mb-20px">
                    Az <a href="/vinyasza-jogairanyzatok" class="link-enhanced link-orange">astanga jóga</a>
                    gyakorlását az ászanák elsajátításával kell kezdeni. Ezen speciális testhelyzetek rendszeres gyakorlásával
                    elérhetjük, hogy testünk erős és rugalmas legyen, elménk nyugodt és kiegyensúlyozott, ami alapul szolgál
                    majd az astanga jógarendszerében történő továbblépésre.{' '}
                </p>
                <h3 class="clr-brand-orange font-family-primary mb-20px">Bevezetés az astanga jógába</h3>
                <p class="mb-20px">
                    Az astanga kezdő tanfolyamon a résztvevők megismerik a rendszer eredetét és elméleti hátterét.
                    Betekintést nyernek a gyakorlás megkezdésének folyamatába, ami ebben a jógairányzatban az ászanák
                    gyakorlásával indul, vinyásza rendszerben. A kezdő tanfolyamon a fő hangsúly (kb. 90%) az ászanák és
                    a hozzájuk kapcsolódó technikák (pl. hangos légzés, bandhák) helyes és biztonságos elsajátításán
                    van.
                </p>
                <h3 class="clr-brand-orange font-family-primary mb-20px">
                    A nyolc alkalmas kezdő tanfolyam tematikája
                </h3>
                <h3 class="clr-brand-orange font-family-primary mb-20px">
                    A gyakorlás elmélyítése és személyre szabása
                </h3>
                <p class="mb-20px">
                    A kezdő tanfolyam folytatása az <a href="/astanga-mysore-kurzus/" class="link-enhanced link-orange">
                        astanga Mysore-kurzus
                    </a>. Ezen a képzésen a résztvevők megtanulnak Mysore-stílusban, egyénileg, külső segítség nélkül,
                    biztonságosan gyakorolni. Mindenkinek személyre szabjuk a gyakorlását, ami a leghatékonyabb
                    fejlődési ütemet eredményezi. Ezek után a gyakorlók már nem lesznek, helyhez és időhöz kötve,
                    bárhová "elvihetik" a gyakorlást, bármikor végezhetik.
                </p>
                <h3 class="clr-brand-orange font-family-primary mb-20px">Gyakran ismételt kérdések</h3>
                <h3 class="clr-brand-orange font-family-primary mb-20px">Tanfolyami időpontok</h3>
                <h3 class="clr-brand-orange font-family-primary mb-20px">
                    Hasznos olvasmányok az astanga-gyakorlásról
                </h3>
            </div>
        </div>
    </div>
</BaseLayout>
