---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/mysore_mobil.jpg';
import desktopImage from '../images/mysore_desktop.jpg';
import Counter from '../components/Counter';

const pageTitle = 'Astanga-Mysore program';
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
        <Counter client:only="react" language={Astro.currentLocale} />
    </div>
</BaseLayout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const button = document.querySelector('#btn1');
        if (button) {
            button.addEventListener('click', () => {
                const url = button.getAttribute('data-url');
                if (url) {
                    window.location.href = url;
                }
            });
        }
    });
</script>
