---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/mysore_mobil.jpg';
import desktopImage from '../images/mysore_desktop.jpg';

const pageTitle = 'Astanga-Mysore program';
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
    </div>
    <div class="row">
        <a href="/astanga-mysore-program-jelentkezes/" class="button">Jelentkezés az Astanga-Mysore programra</a>
    </div>
</BaseLayout>

<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #007bff;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: #0056b3;
    }
</style>
