---
// import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
let posts = await Astro.glob('./blog/*.md');
// posts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
---

<Layout title="Ãrak">
    <div class="container">
        {
            posts.map((post) => {
                return (
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{post.frontmatter.title}</h2>
                            <p class="card-title">Description: {post.frontmatter.description}</p>
                            <p class="card-title">Author: {post.frontmatter.author}</p>
                            <p class="card-title">Tags: {post.frontmatter.tags}</p>
                            <p class="card-title">Date: {post.frontmatter.date}</p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</Layout>
