---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/csapatunk_mobil.jpg';
import desktopImage from '../images/csapatunk_desktop.jpg';

const pageTitle = 'Csapatunk';
---

<BaseLayout title={pageTitle} image={desktopImage}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
    </div>
</BaseLayout>

<style></style>
