---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/elsoalkalom_mobil.jpg';
import desktopImage from '../images/elsoalkalom_desktop.jpg';
import firstTimeData from '../data/firstTime.json';
import { turso } from '../turso';

export const prerender = false;

const metadata = {
  title: 'LOGIN OLDAL',
  description:
    'Ezen az oldalon találod azokat az információkat, amelyek segítenek az első alkalommal való részvétel során.',
};

const token = await Astro.session?.get('user-session');

const huFirstTimeData = firstTimeData.HU;
if (!token) {
  return Astro.redirect('/login');
}

console.log('User token:', token);

const { rows } = await turso.execute({
  sql: `SELECT
          u.first_name,
          u.email,
          u.alias,
          u.last_asana,
          p.id as pass_id,
          p.pass_type,
          p.expiration_date,
          p.uses_remaining,
          p.is_active
        FROM users u
        LEFT JOIN user_passes up ON u.id = up.user_id
        LEFT JOIN passes p ON up.pass_id = p.id AND p.is_active = 1
        WHERE u.id = ?`,
  args: [token],
});

const { rows: passCheck } = await turso.execute({
  sql: `SELECT * FROM users u
    JOIN user_passes up ON u.id = up.user_id
    JOIN passes p ON up.pass_id = p.id
    WHERE u.id = ?`,
  args: [token],
});

console.log('rows:', rows);
console.log('passCheck:', passCheck);

const user = rows[0];

console.log('User:', user);
// console.log('Pass ID:', user.pass_id);
// console.log('Expiration:', user.expiration_date);
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
  <HeroImage
    mobileImgUrl={mobileImage}
    desktopImgUrl={desktopImage}
    alt={metadata.title}
    pageName={metadata.title}
    containerClass="container--tight-desktop"
  />

  <div class="container container--tight-desktop">
    HELLO
    <h1>{user.first_name}</h1>
    <p>{user.last_asana}</p>
    <button onclick="handleLogout()" id="logout_button">LOG OUT</button>
  </div>
</BaseLayout>

<script>
  import { actions } from 'astro:actions';
  import { navigate } from 'astro:transitions/client';

  const logoutBtn = document.getElementById('logout_button');

  logoutBtn?.addEventListener('click', async () => {
    const { data, error } = await actions.logout(new FormData());

    if (error) {
      console.error('Error:', error);
      return;
    }
    navigate('/login');
  });
</script>
