---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/dramaszana_mobil.jpeg';
import desktopImage from '../images/dramaszana_desktop.jpeg';
import Typewriter from '../components/Typewriter/Typewriter.astro';

const metadata = {
    title: 'DRÁMÁSZANA',
    description:
        'Ezen az oldalon találod azokat az információkat, amelyek segítenek az első alkalommal való részvétel során.',
};
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="elsoalkalom-wrapper tight--desktop--container">
            <div class="row mt-40px mb-20px">
                <h3 class="clr-brand-orange">
                    Tízen együtt a körben. Oda megyünk, ahol nincsen arcod, nincsenek az otthonos szavak, az ismert
                    mozdulatok, a megtartó jólneveltségen túlra megyünk. Tízen együtt, mégis külön-külön. Mert a döntő
                    pillanatban egyedül vagy...
                </h3>
            </div>
            <div class="row mb-20px">
                <p>
                    A test fizikai rétegei alól lassan kibomlik mindaz, amit eddig hordtál: történetek, amelyek nem a
                    jelenből, hanem a múltból származnak – ebből a születésből vagy egy másikból, a családból, anyádtól
                    vagy apádtól, vagy mástól. Érzések, félelmek, amelyeket nem tudtál néven nevezni. A póz mélyén
                    nemcsak a csípőd nyílik, hanem a benned rejlő sötét anyag is megmozdul – lehet, hogy suttog, lehet,
                    hogy üvölt, lehet, hogy beleremegsz. Ez a találkozás egyszerre lehet felszabadító és kíméletlen,
                    mert mindenki mást hoz magával. A kör tart, a munka belül zajlik – ott, ahol nem menekülhetsz a
                    saját igazságod elől.
                </p>
            </div>
            <div class="mb-20px typewriter-wrapper">
                <div class="">
                    <Typewriter
                        textArray={['Nem könnyű írni erről…  ||||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Felkavaró… kimerítő… nehezen értelmezhető… nehezen emészthető…|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Két napig csak feküdtem az ágyban úgy kimerített fizikálisan…|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Pedig csak egy óra volt... nem is értem…|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Nem nagyon értem… egyenlőre nem értem miért történik mindez velem… |||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Az első pár körben az ereszkedésről szólt a dolog a ráhangolódásról…|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Közeledtem valami fényességhez…|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|De nem igazán tudtam minek is kell történnie, nem éreztem semmit|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={[
                            '|Olyan voltam mint egy üres konzerves doboz, amiben nincs semmi kiürült, kiszáradt|||',
                        ]}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Nem adatható vissza, nem leírható|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={[
                            '|Aztán a harmadik harmadban erős szexuális energia szabadult fel nyilván a csípő nyitástól|||',
                        ]}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                    <Typewriter
                        textArray={['|Erős agresszivitást elfojtást éltem meg|||']}
                        align="left"
                        loopAll={true}
                        cursorColor="orange"
                    />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
