---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/elsoalkalom_mobil.jpg';
import desktopImage from '../images/elsoalkalom_desktop.jpg';
import firstTimeData from '../data/firstTime.json';

const metadata = {
    title: 'Első alkalom',
    description:
        'Ezen az oldalon találod azokat az információkat, amelyek segítenek az első alkalommal való részvétel során.',
};

const huFirstTimeData = firstTimeData.HU;
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="elsoalkalom-wrapper tight--desktop--container">
            <div class="row mt-40px mb-20px">
                <p>
                    Ha először jársz nálunk, érkezz legalább 15 perccel órakezdés előtt, hogy legyen elég idő a
                    regisztrációra (tanfolyami részvétel esetén nincs szükség regisztrációra). A regisztrációs űrlap
                    kitöltése után rövid elbeszélgetés következik az oktatóval (egyelőre csak a Mysore-programosokkal) a
                    hatékony együttműködés érdekében. Ekkor mindenképp jelezd, ha bármilyen különös odafigyelést igénylő
                    állapotban vagy (például: sérülés, betegség, terhesség).
                </p>
            </div>
            <div class="row mb-20px">
                <p>Amire szükséged lesz:</p>
            </div>
            <div class="row unordered-list-style mb-40px">
                <ul>
                    {
                        huFirstTimeData.needed &&
                            huFirstTimeData.needed.map(({ needed }) => (
                                <li>
                                    <p>{needed}</p>
                                </li>
                            ))
                    }
                </ul>
            </div>
            <div class="row mb-20px">
                <p>Egyéb tudnivalók:</p>
            </div>
            <div class="row unordered-list-style mb-40px">
                <ul>
                    {
                        huFirstTimeData.moreInfos &&
                            huFirstTimeData.moreInfos.map(({ moreInfo }) => (
                                <li>
                                    <p>{moreInfo}</p>
                                </li>
                            ))
                    }
                </ul>
            </div>
            <div class="row mb-40px">
                <p>Várunk szeretettel!</p>
            </div>
        </div>
    </div>
</BaseLayout>
