---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/hazirend_mobil.jpg';
import desktopImage from '../images/hazirend_desktop.jpg';
import rulesData from '../data/houseRules.json';
import '../sass/pages/_hazirend.scss';

const language = 'hu'; // vagy 'en'
const rules = rulesData.rules.map((rule) => rule[language]);

const metadata = {
    title: 'HÁZIREND',
    description: 'Ezen az oldalon megtalálod a Bandha Works jógastúdió házirendjét.',
};
---

<BaseLayout {...metadata} title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="hazirend tight--desktop--container">
            <div class="hazirend__intro row mt-20px mb-20px">
                <div class="hazirend__text col">
                    <h3 class="clr-brand-orange">
                        A zavartalan gyakorlás és befelé figyelés érdekében kérünk, hogy olvasd el, és tartsd be a
                        házirendben foglaltakat. Köszönjük!
                    </h3>
                </div>
            </div>
            <div class="hazirend__rules row">
                <div class="col">
                    <ol type="1" class="body hazirend-list">
                        {rules.map((rule) => <li>{rule}</li>)}
                    </ol>
                </div>
            </div>
            <div class="hazirend__footer row mt-20px mb-40px">
                <div class="col">
                    <p class="mb-20px">Várunk szeretettel!</p>
                    <p><strong>Frissítve:</strong> 2025.04.15.</p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
