---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/holdnapok_mobil.jpeg';
import desktopImage from '../images/holdnapok_desktop.jpeg';
import TabMoonDays from '../components/Tabs/TabMoonDays.astro';

const metadata = {
    title: 'HOLDNAPOK',
    description: 'Ezen az oldalon olvashatsz az astangás holdnapokról. Holdnaptár, pihenőnapok, ékádasi.',
};

const tab = Astro.url.searchParams.get('tab') || '';
---

<BaseLayout title={metadata.title}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <TabMoonDays tab="tab1" />
    </div>
</BaseLayout>

<style></style>
