---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/holdnapok_mobil.jpeg';
import desktopImage from '../images/holdnapok_desktop.jpeg';

const pageTitle = 'Holdnapok';
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
    </div>
</BaseLayout>

<style></style>
