---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/hero_mobil.jpeg';
import desktopImage from '../images/hero_desktop.jpg';
import About from '../components/Sections/SectionAbout.astro';
import Parampara from '../components/Sections/SectionParampara.astro';
import MysoreProgram from '../components/Sections/SectionMysoreProgram.astro';
import Osztondij from '../components/Sections/SectionOsztondij.astro';
import SocialProofs from '../components/Sections/SectionSocialProofs.astro';

const pageTitle = 'Welcome to Bandha Works';

// const isHomePage = true;
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} indexHu={true} />
    <About />
    <Parampara />
    <MysoreProgram />
    <Osztondij />
    <SocialProofs />
    <div class="container">
        <div class="row mb-40px">
            <p>
                Aka arracacha arrowhead artichoke beet bitterleaf broccoli burdock catsear celeriac celery chicory choy
                common eggplant ensete garbanzo garlic gourd groundnut guar hamburg horse indian. Aka artichoke bean
                beet black-eyed bok carrot cassava chard earthnut ginger gobo good greater greens hen horse. American
                artichoke avocado beetroot bell bitterleaf brinjal burdock catsear celery corn courgette cress earthnut
                epazote fava florence fluted garlic gherkin greater hamburg henry jerusalem. Artichoke bean beet
                beetroot broccoli.
            </p>
        </div>
    </div>
</BaseLayout>

<style></style>
