---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.astro';
import mobileImage from '../images/hero_mobil.jpeg';
import desktopImage from '../images/hero_desktop.jpg';
import Parampara from '../components/Sections/SectionParampara.astro';
const pageTitle = 'Welcome to Bandha Works';

// const isHomePage = true;
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} indexHu={true} />
    <Parampara />
    <div class="container">
        <div class="row mb-40px">
            <p>Here you can find our UI libdwqdwqdqwdwqedwqdwqdwqdwedewdewdewd wdfjwiefjowijirary dwedfewdfewdfew.</p>
        </div>
    </div>
</BaseLayout>

<style></style>
