---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/hero_mobil.jpeg';
import desktopImage from '../images/hero_desktop.jpeg';
import About from '../components/Sections/SectionAbout.astro';
import Parampara from '../components/Sections/SectionParampara.astro';
import MysoreProgram from '../components/Sections/SectionMysoreProgram.astro';
import Events from '../components/Sections/SectionEvents.astro';
import Scholarship from '../components/Sections/SectionScholarship.astro';
import SocialProofs from '../components/Sections/SectionSocialProofs.astro';

const metadata = {
    title: 'Bandha Works Astanga Jógaiskola',
    description:
        'Fedezzd fel az Astanga Jógát a Bandha Works Jógaiskolában! Astanga Mysore-stílusú gyakorlás, astanga kezdő tanfolyamok, vinyásza krama jógaórák.',
};

// const isHomePage = true;
---

<BaseLayout title={metadata.title} description={metadata.description}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={metadata.title} indexHu={true} />
    <!-- <div class="content-wrapper"> -->
    <About />
    <Parampara />
    <MysoreProgram />
    <Events />
    <Scholarship />
    <SocialProofs />
    <!-- </div> -->
</BaseLayout>

<style>
    /* .content-wrapper {
        position: relative;
        z-index: 1;
        background-color: hsl(0, 0%, 15%);
    } */
</style>
