---
import BaseLayout from '../layouts/BaseLayout.astro';
import GoogleMap from '../components/GoogleMap/GoogleMap';
import Modal from '../components/Modal/Modal.astro';
import contactMapImage from '../images/contact_map.jpg';
// import { KapcsolatForm } from '../components/Forms/KapcsolatForm';
import KapcsolatForm from '../components/Forms/KapcsolatForm.astro';
import SocialIcons from '../components/Icons/SocialIcons.astro';
import '../sass/pages/_kapcsolat.scss';

export const prerender = false;

const metadata = {
    title: 'KAPCSOLAT',
    description: 'Ezen az oldalon találod a kapcsolatfelvételhez szükséges elérhetőségeinket.',
};

const googleMapsUrl = 'https://www.google.com/maps?q=47.51416,19.03734';
const wazeUrl = 'https://waze.com/ul?ll=47.51416,19.51416&navigate=yes';
---

<BaseLayout title={metadata.title} description={metadata.description} image={contactMapImage}>
    <GoogleMap client:only="react" />
    <div class="container">
        <div class="map-links row gap-2 hidden-desktop">
            <div class="col-6-xs">
                <a
                    href={googleMapsUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="map-links__item btn btn--full-width-mobile btn--primary--outline mt-20px"
                    aria-label="Nyisd meg Google Maps-ben"
                >
                    Google Maps
                </a>
            </div>
            <div class="col-6-xs">
                <a
                    href={wazeUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="map-links__item btn btn--full-width-mobile btn--primary--outline mt-20px"
                    aria-label="Nyisd meg a Waze-ben"
                >
                    Waze
                </a>
            </div>
        </div>
        <div class="contact-header row mb-40px">
            <div class="col">
                <h1 class="kapcsolat-title">Kapcsolat</h1>
            </div>
        </div>
        <div class="row gap-1">
            <div class="col-12-xs col-6-md">
                <address>
                    <h3 class="mb-0">Bandha Works Jógaiskola</h3>
                    <div class="inline-flex-text">
                        <p>Cím:</p>
                        <a
                            href={googleMapsUrl}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="clr-brand-orange"
                            aria-label="Nyisd meg Google Maps-ben"
                        >
                            <p>1027 Budapest, Frankel Leó út 18.</p>
                        </a>
                    </div>
                </address>
                <p class="clr-shades-lightGray mt-20px">
                    <strong>
                        A bejárat az utcafrontról nyílik, a társasházi főbejárattól balra található barna ajtón tudsz
                        bejönni hozzánk.
                    </strong>
                </p>
                <p class="clr-shades-lightGray mt-20px">
                    Parkolási zónakód az utcában: <strong>0201</strong>. A parkolás költséga: <strong>
                        600 Ft
                    </strong>óránként. Hétfőtől péntekig <strong>8:30-22:00-ig</strong> kell fizetni a parkolásért.
                </p>
                <Modal title="Hol az email címünk?" class="mt-20px">
                    <p class="mt-20px">
                        A weboldalunkon a biztonság és adatvédelem kiemelt prioritást élvez. Ennek érdekében, hogy
                        elkerüljük a nem kívánt spam üzeneteket és az adathalászati kísérleteket, döntöttünk úgy, hogy
                        nem tesszük közzé az email címünket.
                    </p>
                    <p class="mt-20px">
                        Üzenj nekünk az oldalon található üzenetküldő űrlapon keresztül. Ha rendben megkaptuk üzeneted,
                        akkor erről egy automata visszaigazoló emailt fogsz kapni.
                    </p>
                </Modal>
                <div class="separator-horizontal mt-20px"></div>
                <div class="hidden-mobile">
                    <h3>Kövess minket</h3>
                    <SocialIcons align="left" class="mb-40px" />
                </div>
            </div>
            <div class="col-12-xs col-6-md">
                <h3>Üzenj nekünk</h3>
                <KapcsolatForm />
                <!-- <KapcsolatForm client:load /> -->
            </div>
        </div>
        <div class="hidden-desktop display-flex display-flex--direction-column align-items-center">
            <div class="separator-horizontal-full mb-40px"></div>
            <h3 class="mb-20px">Kövess minket</h3>
            <SocialIcons align="center" class="mb-40px" />
        </div>
    </div>

    <!-- <style>
        .modal-toggle {
            display: none;
        }

        /* Overlay alapértelmezetten rejtett */
        .kapcsolat-modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5); /* Átlátszó fekete */
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
            z-index: 999;
        }

        .close-icon {
            position: absolute;
            top: 2px; /* Távolság a modal felső szélétől */
            right: 10px; /* Távolság a modal jobb szélétől */
            font-size: 56px; /* Gomb mérete */
            font-weight: bold;
            color: black; /* Szín */
            cursor: pointer; /* Mutatóváltás kattinthatóság jelzésére */
            background: none; /* Nincs háttér */
            border: none; /* Nincs keret */
            padding: 0; /* Nincs extra hely */
            line-height: 1; /* Szöveg igazítása */
            z-index: 1001; /* A modal tartalom fölött */
            transition: color 0.3s ease; /* Hover animáció */
        }

        /* Sötétített háttér overlay */
        .kapcsolat-background-overlay {
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7); /* Sötétebb fekete overlay */
            z-index: 998; /* Az overlay a tartalom fölé, de a modal alá kerül */
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
        }

        /* Overlay megjelenése modal nyitásakor */
        .modal-toggle:checked ~ .kapcsolat-background-overlay {
            opacity: 1;
            visibility: visible;
        }

        /* Modal alapértelmezetten rejtett */
        .kapcsolat-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f5f5f5;
            color: #000;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 500px;
            padding: 20px;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
        }

        /* Checkbox bekapcsolása esetén az overlay megjelenik */
        .modal-toggle:checked ~ .kapcsolat-modal-overlay {
            opacity: 1;
            visibility: visible;
        }

        /* Checkbox bekapcsolása esetén a modal megjelenik */
        .modal-toggle:checked ~ .kapcsolat-modal {
            opacity: 1;
            visibility: visible;
        }

        /* Checkbox bekapcsolása esetén a fő tartalom halványodik */
        .modal-toggle:checked ~ .main-content {
            filter: brightness(1%); /* Halványítás */
            pointer-events: none; /* Nem kattintható */
        }

        /* Modal tartalom stílusok */
        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    </style> -->
</BaseLayout>
