---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/letoltesek_mobil.jpg';
import desktopImage from '../images/letoltesek_desktop.jpg';
import downloadsData from '../data/downloads.json';

const metadata = {
    title: 'LETÖLTÉSEK',
    description: 'A jóga gyakorlásához szükséges elméleti tudás elsajátításához az alábbi olvasmányokat ajánljuk.',
};

const huDownloads = downloadsData.HU;
const enDownloads = downloadsData.EN;
---

<BaseLayout title={metadata.title}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <div class="mt-40px mb-20px">
            <h3 class="clr-brand-orange">Sorozatábrák</h3>
            <p>A sorozatábra nem helyettesíti a szakképzett oktató útmutatását</p>
        </div>
        <div class="unordered-list-style">
            <ul class="sequences-list">
                {
                    huDownloads.sequences.map((sequence) => (
                        <li class="sequences-list__item flex-row">
                            <p>
                                <strong>{sequence.style}:&nbsp;</strong>
                            </p>
                            <p>
                                <a href={sequence.link} target="_blank" class="link-enhanced link-orange">
                                    {sequence.name}
                                </a>
                            </p>
                            <p>&nbsp;(.pdf)</p>
                            {sequence.new && (
                                <p class="new-badge clr-brand-orange">
                                    <strong> &nbsp;ÚJ!</strong>
                                </p>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="mt-40px mb-20px">
            <h3 class="clr-brand-orange">Plakátok</h3>
        </div>
        <div class="unordered-list-style">
            <ul class="posters-list">
                {
                    huDownloads.posters.map((poster) => (
                        <li class="posters-list__item flex-row">
                            <p>
                                <strong>{poster.type}:&nbsp;</strong>
                            </p>
                            <p>
                                <a href={poster.link} target="_blank" class="link-enhanced link-orange">
                                    {poster.name}
                                </a>
                            </p>
                            <p>&nbsp;(.pdf)</p>
                            {poster.new && (
                                <p class="new-badge clr-brand-orange">
                                    <strong> &nbsp;ÚJ!</strong>
                                </p>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="mt-40px mb-20px">
            <h3 class="clr-brand-orange">Hang file-ok</h3>
        </div>
        <div class="unordered-list-style mb-40px">
            <ul class="posters-list">
                {
                    huDownloads.sounds.map((sound) => (
                        <li class="posters-list__item flex-row">
                            <p>
                                <strong>{sound.type}:&nbsp;</strong>
                            </p>
                            <p>
                                <a href={sound.link} target="_blank" class="link-enhanced link-orange">
                                    {sound.name}
                                </a>
                            </p>
                            <p>&nbsp;(.pdf)</p>
                            {sound.new && (
                                <p class="new-badge clr-brand-orange">
                                    <strong> &nbsp;ÚJ!</strong>
                                </p>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>

<style>
    .unordered-list-style ul p {
        margin-left: 0;
    }
</style>
