---
import LinktrLayout from '../layouts/LinktrLayout.astro';
import Icons from '../components/Icons/Icons.astro';
import LanguagePickerLinktr from '../components/LanguagePickers/LanguagePickerLinktr.astro';

const metadata = {
    title: 'LINKTR',
    description: 'Itt olvashatsz Fehér Panniról, a Bandha Works művészeti vezetőjéről.',
};

const links = [
    { label: 'BLOG', href: '/blog/' },
    { label: 'ESEMÉNYEK', href: '/ESEMENYEK/' },
    { label: 'WEBSITE', href: '/' },
];

// const { lang = 'hu' } = Astro.url.searchParams;
const currentLanguage = Astro.currentLocale;
---

<LinktrLayout title={metadata.title} description={metadata.description} language="Hungarian">
    <div
        class="linktr__container container--linktr-desktop display-flex display-flex--direction-column align-items-center"
    >
        <div class="linktr__header display-flex display-flex--direction-column align-items-center">
            <div class="linktr__logo display-flex align-items-flex-start mt-40px">
                <Icons name="BwSymbol" color="white" /><LanguagePickerLinktr />
            </div>
            <p class="linktr__name mt-20px mb-20px">@bandhaworks</p>
        </div>
        <div class="linktr__buttons">
            {
                links.map((link) => (
                    <a href={link.href} class="btn btn--primary--outline-full mb-20px">
                        {link.label}
                    </a>
                ))
            }
        </div>
    </div>
</LinktrLayout>

<script is:inline>
    (function () {
        const url = new URL(window.location.href);
        const hasLang = url.searchParams.has('lang');

        if (!hasLang) {
            const fallback = `${url.pathname}?lang=hu`;
            window.location.replace(fallback);
        }
    })();
</script>
