---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import HeroImage from '../components/HeroImage.astro';
import { Image } from 'astro:assets';
import mobileImage from '../images/orarend_mobil.jpg';
import desktopImage from '../images/orarend_desktop.jpg';
import teachersData from '../data/teachers.json';
import classesData from '../data/classes.json';

const pageTitle = 'Órarend';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// const teachers = await getCollection('teachers');
const schedule = await getCollection('schedule');
// const customTimes = await getCollection('customTimes');
// const classes = await getCollection('classes');

function getTeacherDetails(teacherId) {
    return teachersData.teachers.find((teacher) => teacher.teacherId === teacherId);
}

function getClassDetails(classId) {
    return classesData.classess.find((cls) => cls.classId === classId);
}

console.log(schedule);
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} />
    <div class="container">
        <div class="row"><h1>{t('orarend')}</h1></div>
        <div class="schedule-list">
            <div class="schedule-list">
                {
                    schedule.map((item) => {
                        const teacherDetails = getTeacherDetails(item.data.teacher);
                        const classDetails = getClassDetails(item.data.class);

                        return (
                            <div data-key={item.id} class="schedule-item">
                                <p>Dátum: {new Date(item.data.date).toLocaleDateString(lang)}</p>
                                <p>{item.data.classTime}</p>
                                {classDetails && (
                                    <>
                                        <h3>{classDetails.classNameHu}</h3>
                                        <p>Details: {classDetails.classDetailHu}</p>
                                        <p>Signup: {classDetails.classSignUp}</p>
                                    </>
                                )}

                                {teacherDetails && (
                                    <p>
                                        <a href={teacherDetails.teacherLink}>
                                            {teacherDetails.teacherImage && (
                                                <Image
                                                    src={teacherDetails.teacherImage}
                                                    alt={teacherDetails.teacherName}
                                                    width="50"
                                                    height="50"
                                                    class="teacher-image"
                                                />
                                            )}
                                            {teacherDetails.teacherName}
                                        </a>
                                    </p>
                                )}
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .schedule-item {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
    }
    .teacher-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
        vertical-align: middle;
        border-radius: 50%;
        border: 2px solid lightgray;
    }
</style>
