---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/sz_zsuzsi_mobil.jpeg';
import desktopImage from '../images/sz_zsuzsi_desktop.jpeg';

const metadata = {
  title: 'Zsuzsi',
  description: 'Itt olvashatsz Szuromi Zsuzsi jógaoktatóról, a Bandha Works jógaoktatójáról.',
};
---

<BaseLayout {...metadata} title={metadata.title} description={metadata.description} image={desktopImage}>
  <HeroImage
    mobileImgUrl={mobileImage}
    desktopImgUrl={desktopImage}
    alt={metadata.title}
    pageName={metadata.title}
    containerClass="container--tight-desktop"
  />
  <div class="container container--tight-desktop mb-40px">
    <p class="mb-20px mt-40px">
      A jógával 2021-ben találkoztam először egy vinyása flow óra keretein belül. Akkor még rendszertelen volt a
      gyakorlásom egészen két és fél évvel ezelőttig.
    </p>
    <p class="mb-20px">
      Közgazdász végzettségemmel akkoriban már a 3. multinál dolgoztam, amit hirtelen lendülettel, teljes
      kiábrándultságomban, válaszokat keresve hagytam magam mögött. Külföldre költöztem új kezdetet remélve, ahol aztán
      sok nehézség közepette egy biztos pontom volt, a napi ászana gyakorlás. Ekkor még semmit nem tudtam a
      jógabölcseletről, csupán végeztem az ászanákat egyedüli kapaszkodóként.
    </p>
    <p class="mb-20px">
      Miután hazaköltöztem, nem tudván merre induljak, elvégeztem egy oktató képzést, ahol a sok-sok kötelező olvasmány
      között az első, amit véletlenül magamhoz vettem a Bhagavad Gíta volt. És azt hiszem itt kezdődött el az egész. Már
      csak az olvasása gyógyír volt a szorongásaimra, balzsam a szívnek. Ezt könyvet más remek olvasmányok követték;
      tanultam, olvastam, kinyílt a világ - igazán szép nyár volt.
    </p>
    <p class="mb-20px">
      Azon a nyáron a kötelező hospitálásaim alkalmával elmentem az Astoriára kipróbálni egy hot jógát. Noémi tartotta,
      és a végén odajött hozzám, hogy menjek el a Bandha Worksbe astangázni; ő oda jár, és szerinte tetszene. Ezen
      felbuzdulva iratkoztam be a novemberi kezdő tanfolyamra, amit decemberben az első Mysore gyakorlás követett.
    </p>
    <p class="mb-20px">
      Ez alatt az intenzív egy év alatt nagyot fordult velem a világ. Rengeteg választ kaptam, és valódi önismereti
      munka kezdődött el.
    </p>
    <p class="mb-20px">
      A gyakorlás segít csendesíti a belső zűrt, feszültséget, és a csend, az ébredező tudatosság bepillantást enged az
      elme folyamataiba, annak tartalmába, belső működésünkbe. Jó, hogy van egy ilyen tér, mint a shala, ahol
      kimondatlanul is egy cél felé törekedve, mind együtt lélegezhetünk. Szeretem a reggelek szentségét, azt az
      energiát, amivel megtelik a gyakorlótér, a közös teázások és meleg mosolyok othonosságát, és hogy filter nélkül,
      őszintén létezhetek ebben.
    </p>
    <p class="mb-20px">
      Hiszem, hogy a jóga mindenkinek segíteni tud, hogy egy teljesebb életet élhessen, és egyszer majd a hosszas
      bolyongások után lehorgonyozhasson.
    </p>
  </div>
</BaseLayout>
