---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/tanfolyam_mobil.jpg';
import desktopImage from '../images/tanfolyam_desktop.jpg';
import EventsList from '../components/Events/EventsList.astro';

const pageTitle = 'Tanfolyamok';
---

<BaseLayout title={pageTitle} image={desktopImage}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <EventsList eventType={['Tanfolyam']} maxEvents={3} />
    </div>
</BaseLayout>
