---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/tanfolyam_mobil.jpg';
import desktopImage from '../images/tanfolyam_desktop.jpg';
import EventsList from '../components/Events/EventsList.astro';

const metadata = {
    title: 'TANFOLYAMOK',
    description: 'Itt olvashatsz a Bandha Works által szervezett tanfolyamokról.',
};
---

<BaseLayout {...metadata} title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <EventsList eventType={['Tanfolyam']} />
    </div>
</BaseLayout>
