---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/temu_mobil.jpeg';
import desktopImage from '../images/temu_desktop.jpeg';

const metadata = {
    title: 'Temu',
    description: 'Itt olvashatsz Temu jógaoktatóról, a Bandha Works jógaoktatójáról.',
};
---

<BaseLayout {...metadata} title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop mb-40px mt-40px">
        <p class="mb-20px">
            A mozgás mindig is szerves része volt az életemnek, gyerekkoromtól kezdve versenyszerűen sportoltam. Akkor
            még nem tudtam, de ezek a tapasztalatok később a jógagyakorlásom során is segítségemre váltak. Sokat
            tanultam az alázatról, kitartásról, odaadásról, és mindig is tisztelettel voltam tanítóim irányába.
        </p>
        <p class="mb-20px">
            Egyetemista koromban találkoztam a jógával, amikor nővéremet kísértem el egy Bikram órára. Szeretem a
            kihívásokat és az újdonságokat, így kíváncsisággal és élvezettel töltött el az első óra. Azután kipróbáltam
            különböző irányzatokat, kísérleteztem, és éreztem, hogy valami megfogott a jógában.
        </p>
        <p class="mb-20px">
            Szép lassan a jóga az életem részévé vált, elkezdtem rendszeresen gyakorolni. Az évek során kiváló
            tanárokkal találkoztam, sokat tanultam Sugár Bertalantól és Téklesz Diánától, hálás vagyok nekik.
        </p>
        <p class="mb-20px">
            Még kezdő gyakorló koromban Berci ajánlotta a Bandha Works jógaiskolát, ahova végül 2023 januárjában mentem
            el egy vinyasa krama órára. István és Noémi órái után rögtön éreztem, hogy megtaláltam a helyemet, ahol
            tovább szeretnék fejlődni és tanulni. A tanárok tudása, a gyakorlótársak és a hely varázsa mind
            hozzájárulnak ahhoz, hogy napról napra közelebb kerüljek önmagamhoz és ezáltal segíteni tudjak a körülöttem
            lévőknek is.
        </p>
    </div>
</BaseLayout>
