---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/vedanta_mobil.jpeg';
import desktopImage from '../images/vedanta_desktop.jpeg';
import { Image } from 'astro:assets';
import VedantaImage1 from '../images/vedanta_ji_1.jpeg';
import VedantaImage2 from '../images/vedanta_ji_2.jpeg';
import VedantaImage3 from '../images/vedanta_ji_3.jpeg';
import Carousel from '../components/Carousel/Carousel.astro';

const metadata = {
    title: 'VÉDANTA ANGA (IND) - ASTANGA MYSORE HÉT BUDAPEST',
    description: 'Itt olvashatsz Védanta Anga Astanga Mysore hétéről. Budapesten, a Bandha Works jógaiskolában.',
};

const mysoreImages = [
    {
        image: VedantaImage1,
        alt: 'Vedanta Anga Asana',
    },
    {
        image: VedantaImage2,
        alt: 'Vedanta Anga Ashtanga',
    },
    {
        image: VedantaImage3,
        alt: 'Vedanta Anga Padmasana',
    },
];
---

<BaseLayout {...metadata} title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop mb-40px">
        <h3 class="mb-20px mt-40px clr-brand-orange">
            Ritka lehetőség, hogy egy autentikus, brámin családban nevelkedett astanga jógaoktatótól tanulhassunk – és
            mindez a Bandha Works patináns, felszentelt falai között történik. Első alkalommal érkezik Budapestre
            Védanta Anga, aki a mysore-i Paramaguru Sharath Jois által elismert, Level 2-es autorizációval rendelkező
            tanár.
        </h3>
        <h3 class="mb-20px mt-40px font-family-primary clr-brand-orange">Védanta Anga</h3>
        <p class="mb-20px">
            Védanta bráhmin családban született és nevelkedett, életét gyermekkora óta mélyen átszövi a spiritualitás,
            különösen a Bhakti jóga gyakorlása. 15 éves korára a medtiáció szerves részévé vált a mindennapi
            rituáléinak, karöltve a mantraénekléssel, amit szüleivel közösen végzett különböző vallási szertartások
            részeként templomokban és otthonukban. A jógaászanákkal, mint fizikai tevékenységgel fiatalkorában
            teniszedzései során ismerkedett meg, de csak később, egy teniszezésből származó vállsérülést követően
            mélyítette el ászanagyakorlását, megsegítve felépülését. Vedanta az Ashtanga jóga tanulmányozását és
            gyakorlását tanárával Paramaguru Sharath Jois-al, Mysore-ban folytatta, aki 2-es szinten autorizálta őt.
            Emellett ájurvéda gyakorló és 1. szintű terapeuta is. Tanult továbbá a Natural Health Science from the
            International Institute of Mahayoga and Natural Hygiene (IMANAH) intézetében. Az itt elsajátított tudása
            segítségével természetes gyógymódokkal segíti emberek gyógyulását különböző betegségekből. Ezen felül
            Vedanta az Advaita Vedanta filozófia tanulmányozásával is foglalkozik. Vedanta tanításai a légzést, a
            csendet, az összpontosítást és a belső erőt hangsúlyozzák. Gyakran épít be meditációt, pránájámát és mantra
            éneklést a foglalkozásaiba, megosztva azoknak a gyakorlatoknak az összességét, melyeket spirituális útja
            során magáévá tett.
        </p>

        <div class="row image-track-3-type-2 hidden-mobile mt-20px mb-40px">
            <Image src={VedantaImage1} alt="Vedanta Anga Asana" />
            <Image src={VedantaImage2} alt="Vedanta Anga Ashtanga" />
            <Image src={VedantaImage3} alt="Vedanta Anga Padmasana" />
        </div>

        <div class="image--visible-mobil hidden-desktop mb-40px mt-20px">
            <Carousel>
                {
                    mysoreImages.map((item) => (
                        <div class="section-social-proof__slide embla__slide">
                            <Image src={item.image} alt={item.alt} />
                        </div>
                    ))
                }
            </Carousel>
        </div>

        <h3 class="mb-20px mt-40px font-family-primary clr-brand-orange">A Mysore-hét programja</h3>
        <ul class="mb-20px">
            <li class="mb-10px">
                <strong><p class="clr-brand-orange font-family-primary body body--bold">JÚNIUS 23. - HÉTFŐ</p></strong>
                <ul>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>5:30 - 9:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MYSORE-GYAKORLÁS</span>
                    </li>
                </ul>
            </li>

            <li class="mb-10px">
                <strong><p class="clr-brand-orange font-family-primary body body--bold">JÚNIUS 24. - KEDD</p></strong>
                <ul>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>5:30 - 9:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MYSORE-GYAKORLÁS</span>
                    </li>
                </ul>
            </li>

            <li class="mb-10px">
                <strong>
                    <p class="clr-brand-orange font-family-primary body body--bold">JÚNIUS 25. - SZERDA – HOLDNAP</p>
                </strong>
                <ul>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>6:30 - 7:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MANTRA ÉNEKLÉS</span>
                    </li>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>7:00 - 7:30</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MEDITÁCIÓ ÉS LÉGZŐGYAKORLATOK</span>
                    </li>
                </ul>
            </li>

            <li class="mb-10px">
                <strong>
                    <p class="clr-brand-orange font-family-primary body body--bold">JÚNIUS 26. - CSÜTÖRTÖK</p>
                </strong>
                <ul>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>5:30 - 9:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MYSORE-GYAKORLÁS</span>
                    </li>
                </ul>
            </li>

            <li class="mb-10px">
                <strong><p class="clr-brand-orange font-family-primary body body--bold">JÚNIUS 27. - PÉNTEK</p></strong>
                <ul>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>5:30 - 9:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MYSORE-GYAKORLÁS</span>
                    </li>
                </ul>
            </li>

            <li class="mb-10px">
                <strong>
                    <p class="clr-brand-orange font-family-primary body body--bold">JÚNIUS 28. - SZOMBAT</p>
                </strong>
                <ul>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>5:30 - 9:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MYSORE-GYAKORLÁS</span>
                    </li>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>9:00 - 9:30</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">CHAI TIME</span>
                    </li>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>9:30 - 10:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MANTRAÉNEKLÉS</span>
                    </li>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>10:00 - 11:00</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">KONFERENCIA</span>
                    </li>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>11:00 - 11:30</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">FÉNYKÉPEZKEDÉS</span>
                    </li>
                    <li>
                        <span class="mr-0_5rem clr-shades-gray body body--bold body--font-family-secondary">
                            <em>17:00 - 18:30</em>
                        </span>
                        <span class="body body--bold body--font-family-secondary">MYSORE THALI – ZÁRÓESEMÉNY*</span>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="mb-20px">
            <small>* a részvételi díj nem tartalmazza a Mysore thali költségét, amely 4.000 Ft.</small>
        </p>
        <h3 class="mb-20px mt-40px font-family-primary clr-brand-orange">Részvételi feltételek</h3>
        <p class="mb-20px">
            A Mysore héten való részvétel költsége 120EUR (6 alkalom). Az eseményre a recepciónkon tudsz jelentkezni a
            részvételi díj kifizetésével. Mysore-programunk rendszeres** gyakorlói és Mysore Program Pártoló tagjaink
            számára a programon való részvétel ingyenes.
        </p>
        <p class="mb-20px">
            A programváltoztatás jogát fenntartjuk. A résztvevők a részvételükkel hozzájárulnak, hogy az eseményen
            fényképek készülhetnek róluk!
        </p>
        <p class="mb-20px">
            **minimum három hónap folyamatos gyakorlás Mysore-programunkban az eseményt közvetlenül megelőző időszakban.
        </p>
        <h3 class="mb-20px mt-40px clr-brand-orange">
            Ha érdekel az astanga jóga mélyebb, hagyományos megközelítése, ne hagyd ki ezt a kivételes alkalmat:
            gyakorolj egy olyan tanárral, aki nemcsak a rendszer technikáját, hanem annak szellemiségét is otthonról
            hozza magával.
        </h3>
    </div>
</BaseLayout>
