---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/jogairanyzatok_mobil.jpg';
import desktopImage from '../images/jogairanyzatok_desktop.jpg';
import TabYogaStyles from '../components/Tabs/TabYogaStyles.astro';


const metadata = {
    title: 'VINYÁSZA JÓGAIRÁNYZATOK',
    description:
        'Ezen az oldalon olvashatod a vinyásza jóga irányzatokról szóló információkat. Astanga vinyásza jóga, vinyásza krama jóga.',
};

const tab = Astro.url.searchParams.get('tab') || '';
---

<BaseLayout title={metadata.title}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop">
        <TabYogaStyles tab="tab1" />
        <!-- <a href="/vinyasza-jogairanyzatok?tab=tab2">Click here for tab2e</a> -->
    </div>
</BaseLayout>

<style></style>
