---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroImage.astro';
import mobileImage from '../images/jogairanyzatok_mobil.jpg';
import desktopImage from '../images/jogairanyzatok_desktop.jpg';
import Tab from '../components/Tab.astro';

const pageTitle = 'Jógairányzatok';

const tab = Astro.url.searchParams.get('tab') || '';
---

<BaseLayout title={pageTitle}>
    <HeroImage mobileImgUrl={mobileImage} desktopImgUrl={desktopImage} alt={pageTitle} pageName={pageTitle} />
    <div class="container">
        <div class="row"><h1>Ide jön majd a tartalom</h1></div>
        <Tab tab="tab1" />

        <a href="/vinyasza-jogairanyzatok?tab=tab2">Click here for tab2e</a>
    </div>
</BaseLayout>

<style></style>
