---
import type { ImageMetadata } from 'astro';
import { getImage } from 'astro:assets';

interface Props {
    mobileImgUrl: string | ImageMetadata;
    desktopImgUrl: string | ImageMetadata;
    alt: string;
    pageName: string;
}

const { mobileImgUrl, desktopImgUrl, alt, pageName } = Astro.props;

const mobileImg = await getImage({
    src: mobileImgUrl,
    format: 'webp',
    width: 1080,
    height: 1080,
});

const desktopImg = await getImage({
    src: desktopImgUrl,
    format: 'webp',
    width: 1800,
    height: 550,
});
---

<div class="hero-image">
    <picture>
        <source media="(max-width: 799px)" srcset={mobileImg.src} />
        <source media="(min-width: 800px)" srcset={desktopImg.src} />
        <img src={desktopImg.src} alt={alt} />
    </picture>
    <div class="page-name"><h1>{pageName}</h1></div>
</div>

<style>
    .hero-image {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        .page-name {
            position: absolute;
            bottom: 21px;
            left: 21px;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 16px; /* vagy ahogy szükséges */
        }
    }
</style>
