---
import Icons from '../Icons/Icons.astro';
import './_pagination.scss';

interface Props {
    prevUrl: string | undefined;
    nextUrl: string | undefined;
    currentPage: number;
    totalPages: number;
}

const { prevUrl, nextUrl, currentPage, totalPages } = Astro.props;

// Generate URLs for first and last page
const firstPageUrl = prevUrl?.replace(/\/page\/\d+/, '/page/1') || '/page/1';
const lastPageUrl = nextUrl?.replace(/\/page\/\d+/, `/page/${totalPages}`) || `/page/${totalPages}`;
---

<nav aria-label="Blog pages" class="pagination-nav">
    <div class="pagination-button left">
        {
            currentPage > 1 && (
                <>
                    <a href={firstPageUrl} class="link-primary" style="border: visible;">
                        <Icons name="ChevronDoubleLeft" color="orange" />
                    </a>
                    <a href={prevUrl} class="link-primary" style="border: visible;">
                        <Icons name="ChevronLeft" color="orange" />
                    </a>
                </>
            )
        }
    </div>

    <div class="pagination-info">
        <p>{currentPage} / {totalPages}</p>
    </div>

    <div class="pagination-button right">
        {
            currentPage < totalPages && (
                <>
                    <a href={nextUrl} class="link-primary" style="border: visible;">
                        <Icons name="ChevronRight" color="orange" />
                    </a>
                    <a href={lastPageUrl} class="link-primary" style="border: visible;">
                        <Icons name="ChevronDoubleRight" color="orange" />
                    </a>
                </>
            )
        }
    </div>
</nav>
