---
import { formatDate, slugify } from '../../components/js/utils.js';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import './_postcard.scss';

// const images = await import.meta.glob<{ default: ImageMetadata }>('/src/images/uploads/**/*.{jpeg,jpg,png,gif}');
const images = await import.meta.glob<{ default: ImageMetadata }>('/src/content/authors/**/*.{jpeg,jpg,png,gif}');
const authors = await getCollection('authors');
const { frontmatter, slug, minutesRead } = Astro.props;
const { title, date, description, author, tags } = frontmatter;
const currentAuthor = authors.find(({ data: { name: authorName } }) => authorName === author);
---

<div class="blog-post mb-20px">
    <div class="blog-post__header row align-items-center">
        <div class="blog-post__author-avatar">
            <Image
                src={images[currentAuthor?.data.authorimage]()}
                alt={currentAuthor?.data.name}
                class="avatar__image avatar__image--small"
            />
        </div>
        <p class="blog-post__author-name clr-shades-gray">{author}</p>
        <div class="vertical-separator"></div>
        <p class="blog-post__date clr-shades-gray">{formatDate(date)}</p>
    </div>
    <div class="blog-post__title"><h3 class="blog-post__title-text">{title}</h3></div>
    <p class="blog-post__description clr-shades-gray">{description}</p>
    <div class="blog-post__tags-row row gap-1 align-items-center">
        <p class="">
            {
                tags.map((tag) => (
                    <a href={`/blog/tags/${tag}`} class="blog-post__tag-link blog__tag clr-shades-gray">
                        {tag}
                    </a>
                ))
            }
        </p>
        <p class="blog-post__reading-time clr-shades-gray">{minutesRead} perc olvasás</p>
    </div>
    <a href={`/blog/${slugify(slug)}`} class="blog-post__read-more-link">
        <p class="blog-post__read-more-text clr-brand-orange body body--bold mt-20px">Olvasd tovább</p>
    </a>
</div>
