---
import { formatDate, slugify } from '../../components/js/utils.js';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const images = await import.meta.glob<{ default: ImageMetadata }>('/src/images/uploads/**/*.{jpeg,jpg,png,gif}');
const authors = await getCollection('authors');
const { frontmatter, slug, minutesRead } = Astro.props;
const { title, date, description, author, tags } = frontmatter;
const currentAuthor = authors.find(({ data: { name: authorName } }) => authorName === author);
---

<div>
    <div class="row gap-1 align-items-center">
        <div>
            <Image
                src={images[currentAuthor?.data.authorimage]()}
                alt={currentAuthor?.data.name}
                class="vaki author__avatar author__avatar--small"
            />
        </div>
        <p>{author}</p>
        <p>{formatDate(date)}</p>
    </div>
    <div class="title"><h3>{title}</h3></div>
    <p class="clr-shades-gray">{description}</p>
    <div class="row gap-1 align-items-center">
        <p class="">
            {
                tags.map((tag) => (
                    <a href={`/blog/tags/${tag}`} class="tag-link blog__tag">
                        {tag}
                    </a>
                ))
            }
        </p>
        <p>{minutesRead} perc olvasás</p>
    </div>
    <a href={`/blog/${slugify(slug)}`}>
        <p class="clr-brand-orange body body--bold mt-20px">Olvasd tovább</p>
    </a>
</div>
