---
import { formatDate } from '../../components/js/utils.js';
const { frontmatter, slug, minutesRead } = Astro.props;
const { title, date, description, author, tags } = frontmatter;
---

<div>
    <div class="row gap-1"><p>{author}</p> <p>{formatDate(date)}</p></div>
    <div class="title"><h3>{title}</h3></div>
    <p class="clr-shades-gray">{description}</p>
    <div class="row gap-1 align-items-center">
        <p class="">
            {
                tags.map((tag) => (
                    <a href={`/blog/tags/${tag}`} class="tag-link blog__tag">
                        {tag}
                    </a>
                ))
            }
        </p>
        <p>{minutesRead} perc olvasás</p>
    </div>
    <a href={`/blog/${slug}`}>
        <p class="clr-brand-orange body body--bold mt-20px">Olvasd tovább</p>
    </a>
</div>
