---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BlogPost from '../../../components/Blog/BlogPost.astro';
import { getCollection } from 'astro:content';
import { slugify } from '../../../components/js/utils.js';

export async function getStaticPaths() {
    const allPosts = await getCollection('blog');
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts
            .filter((post) => post.data.tags?.includes(tag ?? '') ?? false)
            .map((post) => ({
                ...post,
                slug: `/blog/${slugify(post.data.title)}`, // Alkalmazd a slugify függvényt a címekre
            }));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const pageTitle = `Blog`;
---

<BaseLayout title={pageTitle}>
    <p>Blogbejegyzések ezzel a cimkével: {tag}</p>
    <ul>
        {posts.map((post) => <BlogPost url={post.slug} title={post.data.title} slug={post.slug} />)}
    </ul>
</BaseLayout>
