---
import BaseLayout from './BaseLayout.astro';
import { formatDate, slugify } from '../components/ts/utils.ts';
import ProgressBar from '../components/Navigation/components/ProgressBar.astro';

const { title, date, canonical, canonicalLanguage, language, description, minutesRead } = Astro.props;

const isBlogPost = true;
---

<BaseLayout
    title={title}
    description={description}
    image={Astro.props.image}
    canonical={canonical}
    canonicalLanguage={canonicalLanguage}
    language={language}
>
    <ProgressBar isVisible={isBlogPost} />
    <div class="container blog-content__container">
        <h1>{title}</h1>
        <p>{formatDate(date)}</p>
        <div class="row">
            <p>{minutesRead}</p>
            <article>
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>
