---
import BaseLayout from './BaseLayout.astro';
import { formatDate, slugify } from '../components/js/utils';

const { title, date, canonical, canonicalLanguage, language, description, minutesRead } = Astro.props;
---

<BaseLayout
    title={title}
    description={description}
    image={Astro.props.image}
    canonical={canonical}
    canonicalLanguage={canonicalLanguage}
    language={language}
>
    <div class="container">
        <h1>{title}</h1>
        <p>{formatDate(date)}</p>
        <div class="row">
            <p>{minutesRead}</p>
            <article>
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>
