---
import AstroNavbar from "../components/Navigation/AstroNavbar";
import NavbarTwo from "../components/Navigation/NavbarTwo.astro";
import { getImage } from "astro:assets";
import faviconSrc from "../images/favicon.png";
import faviconSvgSrc from "../images/favicon.svg";

import "../sass/global.scss";
import "../sass/layouts/_layout.scss";

interface Props {
    title: string;
    isHomePage?: boolean;
}

const appleTouchIcon = await getImage({
    src: faviconSrc,
    width: 180,
    height: 180,
    format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });

const url = Astro.url;
const { title, isHomePage } = Astro.props as Props;
---

<!doctype html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <!-- <meta http-equiv="refresh" content="0; url=/hu" /> -->
        <!-- {
            isHomePage && (
                <script type="text/javascript">
                    window.location.href = '/hu/';
                </script>
            )
        } -->
        <link rel="icon" href="/favicon.ico" sizes="32x32" />
        <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
        <link rel="apple-touch-icon" href={appleTouchIcon.src} />
        <link rel="manifest" href="/manifest.json" />
    </head>
    <body>
        <!-- <AstroNavbar client:only="react" url={url} /> -->
        <!-- <AstroNavbar client:only="react" url={url} /> -->
        <NavbarTwo />
        <div class="layout-content-wrapper"><slot /></div>
    </body>
</html>
