---
import Pagination from '../../../components/Blog/Pagination.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostCard from '../../../components/Blog/PostCard.astro';
import { type CollectionEntry } from 'astro:content';
import { slugify, calculateReadingTime } from '../../../components/ts/utils.ts';
import { getCollection } from 'astro:content';
import HeroImage from '../../../components/HeroImage/HeroImage.astro';
import mobileImage from '../../../images/blog_mobil.jpg';
import desktopImage from '../../../images/blog_desktop.jpg';
import '../../blog/_blogPages.scss';

type Post = CollectionEntry<'blog'> & {
    slug: string;
    minutesRead: number;
};

type Props = {
    page: {
        data: Post[];
        url: {
            prev: string | undefined;
            next: string | undefined;
        };
        currentPage: number;
        lastPage: number;
    };
};

// Statikus oldalak generálása paginálva
export async function getStaticPaths({ paginate }) {
    const allPosts = await getCollection('blog');

    const sortedPosts = allPosts
        .filter((post) => post.data.language === 'English')
        .map((post) => ({
            ...post,
            slug: slugify(post.data.title),
            minutesRead: calculateReadingTime(post.body),
        }))
        .sort((a, b) => {
            return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
        });

    return paginate(sortedPosts, { pageSize: 5 });
}

const { page } = Astro.props;

const metadata = {
    title: 'BLOG',
    description: 'Ezen az oldalon találod a Bandha Works Astanga Jógaiskola blogbejegyzéseit.',
};
---

<BaseLayout title={metadata.title} description={metadata.description} image={desktopImage}>
    <HeroImage
        mobileImgUrl={mobileImage}
        desktopImgUrl={desktopImage}
        alt={metadata.title}
        pageName={metadata.title}
        containerClass="container--tight-desktop"
    />
    <div class="container container--tight-desktop blog__container">
        <div class="row mt-20px">
            <div class="">
                <h3 class="clr-brand-orange mb-20px">
                    Our blog is primarily intended for Hungarian Ashtanga yoga enthusiasts. However, we have some
                    content available in English as well, which we list below.
                </h3>
                <p>
                    <strong>
                        Our English language blog page is currently under construction, please check back later for more
                        content.
                    </strong>
                </p>
            </div>
            <ul class="blog__post-list">
                {
                    page.data.map((post) => (
                        <li class="blog__post-wrapper">
                            <PostCard frontmatter={post.data} slug={post.slug} minutesRead={post.minutesRead} />
                        </li>
                    ))
                }
            </ul>
            <Pagination
                prevUrl={page.url.prev}
                nextUrl={page.url.next}
                currentPage={page.currentPage}
                totalPages={page.lastPage}
            />
        </div>
    </div>
</BaseLayout>
